<div class="acct-order-history-notification">
    Not seeing a past order?<br>
    Reach out to <a href="javascript:$zopim.livechat.window.show();">Customer Service</a> to get a copy of a past receipt.
  </div>