<div class="acct-cta-notification">
    <div>
      Questions? We're here to help!<br>
      Contact <a href="mailto:hello@raddishkids.com">Customer Service</a>
      <!--<a href="javascript:void(0);" onclick="GorgiasChat.open();">Customer Service</a>.-->
    </div>
</div>