<div class="flex align-center justify-center wrap">
  {%- unless settings.item-1 == 'hidden' -%}
    {% include settings.item-1 %}
  {%- endunless -%}

  {%- unless settings.item-2 == 'hidden' -%}
    {% include settings.item-2 %}
  {%- endunless -%}

  {%- unless settings.item-3 == 'hidden' -%}
    {% include settings.item-3 %}
  {%- endunless -%}

  {%- unless settings.item-4 == 'hidden' -%}
    {% include settings.item-4 %}
  {%- endunless -%}
</div><!-- /.flex align-center justify-center -->
