<div class="flex align-center justify-center wrap">
  {%- unless settings.item-new == 'hidden' -%}
    {%- if settings.item-new == 'blog-sidebar-newsletter' -%}
      {% section 'Newsletter-Camp-Rad' %}
    {%- else -%}
      {% include settings.item-new %}
    {%- endif -%}
  {%- endunless -%}

  {%- unless settings.item-new1 == 'hidden' -%}
    {%- if settings.item-new1 == 'blog-sidebar-newsletter' -%}
      {% section 'Newsletter-Camp-Rad' %}
    {%- else -%}
      {% include settings.item-new1 %}
    {%- endif -%}
  {%- endunless -%}

  {%- unless settings.item-new2 == 'hidden' -%}
    {%- if settings.item-new2 == 'blog-sidebar-newsletter' -%}
      {% section 'Newsletter-Camp-Rad' %}
    {%- else -%}
      {% include settings.item-new2 %}
    {%- endif -%}
  {%- endunless -%}

  {%- unless settings.item-new3 == 'hidden' -%}
    {%- if settings.item-new3 == 'blog-sidebar-newsletter' -%}
      {% section 'Newsletter-Camp-Rad' %}
    {%- else -%}
      {% include settings.item-new3 %}
    {%- endif -%}
  {%- endunless -%}
</div>
