
  {% if request.path contains 'account-memberships'%}
    <div class="subs-list-header">
        <div class="subs-list-title">
        <h3 class="header">Current Memberships</h3>
        </div>
    </div>
    {% for order in customer.orders %}
    <div class="active-subs overview-active-subs">
        <div class="subs-img-container">
            <div class="badge-skipped">
                Skipped
            </div>
        </div>
    </div>
    {% endfor %}
  {% endif %}