<section class="section-content section-content--alt  ">
  <div class="page-width page-width--larger">
    <div class="section__inner">
      {% if _block.image != blank %}
        <div class="section__image">
          {% include 'image', _image: _block.image, size: '600' %}
        </div><!-- /.section__image -->
      {% endif %}

      <div class="section__content">
        {% if _block.title != blank %}
          <h2>{{ _block.title | escape | newline_to_br }}</h2>
        {% endif %}

        {% if _block.description != blank %}
          {{ _block.description }}
        {% endif %}

        {% if _block.show_form and _block.newsletter_form_id != blank %}
          <div class="klaviyo-form-{{ _block.newsletter_form_id }}"></div>
        {% endif %}
      </div><!-- /.section__content -->
    </div><!-- /.section__inner -->
  </div><!-- /.page-width page-width--larger -->
</section><!-- /.section-content -->