<section class="section-banner" style="background-color: {{ _block.bg_color }}">
  <header class="section__head">
    {% if _block.title != blank %}
      <h2>{{ _block.title | escape }}</h2>
    {% endif %}
  </header><!-- /.section__head -->

  <div class="page-width page-width--larger">
    <div class="section__inner">
      <div class="section__content">
        {% if _block.title != blank %}
          <h2>{{ _block.title | escape }}</h2>
        {% endif %}

        {% if _block.description != blank %}
          {{ _block.description }}
        {% endif %}
      </div><!-- /.section__content -->

      {% if _block.image %}
        <div class="section__image">
          {% include 'image', _image: _block.image, size: '480' %}
        </div><!-- /.section__image -->
      {% endif %}
    </div><!-- /.section__inner -->
  </div><!-- /.page-width page-width--larger -->
</section><!-- /.section-banner -->