<section class="section-separator">
  <div class="page-width page-width--larger">
    <div style="border-top: 6px dotted #a9dd61;"></div>
  </div><!-- /.page-width page-width--larger -->
</section><!-- /.section-separator -->
