<?xml version="1.0" encoding="UTF-8"?>
<svg width="26px" height="54px" viewBox="0 0 26 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
    <title>Path 2</title>
    <desc>Created with Sketch.</desc>
    <g id="Suddenly-Homeschooling-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="D-RAD-Suddenly-Homeschooling-M01.R07" transform="translate(-227.000000, -996.000000)" stroke="#F3576B" stroke-width="6">
            <g id="Recipes" transform="translate(230.000000, 836.000000)">
                <g id="Slider-Arrows" transform="translate(0.000000, 163.000000)">
                    <polyline id="Path-2" transform="translate(10.000000, 24.000000) scale(-1, 1) rotate(-90.000000) translate(-10.000000, -24.000000) " points="-14 14 11.6 34 34 14"></polyline>
                </g>
            </g>
        </g>
    </g>
</svg>