<svg width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Path 12</title>
    <defs>
        <path d="M100,327 L1338,327 C1342.41828,327 1346,330.581722 1346,335 L1346,997 C1346,1001.41828 1342.41828,1005 1338,1005 L100,1005 C95.581722,1005 92,1001.41828 92,997 L92,335 C92,330.581722 95.581722,327 100,327 Z" id="path-1"></path>
        <filter x="-0.6%" y="-0.7%" width="101.1%" height="102.1%" filterUnits="objectBoundingBox" id="filter-2">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>
            <feColorMatrix values="0 0 0 0 0.301960784   0 0 0 0 0.301960784   0 0 0 0 0.301960784  0 0 0 0.201868444 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
        </filter>
    </defs>
    <g id="Subscription-Builder" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="D---Subscription---Step-2" transform="translate(-130.000000, -354.000000)">
            <g id="Group-4" transform="translate(121.000000, 346.000000)">
                <circle id="Oval" fill="#A9DD61" cx="16.5" cy="16.5" r="16.5"></circle>
                <path d="M22.7721507,9.1383817 C23.2480093,8.46025926 24.1834959,8.29629205 24.8616183,8.7721507 C25.4998512,9.22001766 25.6826386,10.075029 25.3052081,10.739424 L25.2278493,10.8616183 L15.6679503,24.4849541 L9.8367128,17.3217247 C9.31371259,16.6792589 9.41055856,15.734462 10.0530243,15.2114618 C10.655336,14.7211491 11.5233684,14.7756231 12.0604585,15.3137231 L12.1632872,15.4277734 L15.49,19.515 L22.7721507,9.1383817 Z" id="Path-12" fill="#FFFFFF" fill-rule="nonzero"></path>
            </g>
        </g>
    </g>
</svg>
