<?xml version="1.0" encoding="UTF-8"?>
<svg width="19px" height="19px" viewBox="0 0 19 19" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>icon</title>
    <g id="Account" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="D---Subscriptions" transform="translate(-1188.000000, -416.000000)" stroke="#FFFFFF" stroke-width="1.5">
            <g id="1-month-subscription" transform="translate(93.000000, 384.000000)">
                <g id="Primary:-med-Copy" transform="translate(1068.000000, 24.000000)">
                    <g id="Group" transform="translate(28.000000, 8.000000)">
                        <g id="icon" transform="translate(8.500000, 10.000000) rotate(-315.000000) translate(-8.500000, -10.000000) translate(6.000000, 1.000000)">
                            <path d="M0.16,3.2 L4.56,3.2 L4.56,13.48 C4.56,13.5904569 4.47045695,13.68 4.36,13.68 L0.36,13.68 C0.24954305,13.68 0.16,13.5904569 0.16,13.48 L0.16,3.2 L0.16,3.2 Z" id="Rectangle"></path>
                            <path d="M0.96,1.8189894e-12 L3.76,1.8189894e-12 C4.2018278,1.81901926e-12 4.56,0.3581722 4.56,0.8 L4.56,3.2 L4.56,3.2 L0.16,3.2 L0.16,0.8 C0.16,0.3581722 0.5181722,1.81884852e-12 0.96,1.8189894e-12 Z" id="Rectangle-Copy-2"></path>
                            <path d="M0.16,13.68 L1.94905194,17.0723545 C2.01345963,17.1944827 2.16467687,17.2412744 2.28680508,17.1768667 C2.32586367,17.1562681 2.35876955,17.1256917 2.38217541,17.0882479 L4.43368935,13.8063106 L4.43368935,13.8063106" id="Path" stroke-linecap="round"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>