<a class="btn klaviyo-bis-trigger" href="#">
  <span>
    Notify me when back in stock
  </span>
</a>
<style>
  .klaviyo-bis-trigger {
    display: block !important;
  }
</style>
<script src="{{ 'onsite.js' | asset_url}}"></script>

<script>
  var klaviyo = klaviyo || [];
  klaviyo.init({
    account: "PaxfKu",
    platform: "shopify"
  });
  klaviyo.enable("backinstock",{ 
  trigger: {
    product_page_text: "Notify Me When Available",
    product_page_class: "btn",
    product_page_text_align: "center",
    product_page_margin: "0px",
    replace_anchor: false
  },
  modal: {
  headline: "{product_name}",
  body_content: "Register to receive a notification when this item comes back in stock.",
  email_field_label: "Email",
  button_label: "Notify me when available",
  subscription_success_label: "You're in! We'll let you know when it's back.",
  footer_content: '',
  additional_styles: `
    @import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');
	@font-face{font-family:Avenir;src:url(//cdn.shopify.com/s/files/1/0300/1545/t/199/assets/Avenir-Medium.woff2?v=976089050823125105) format("woff2"),url(//cdn.shopify.com/s/files/1/0300/1545/t/199/assets/Avenir-Medium.woff?v=9088871200327689150) format("woff");font-weight:500;font-style:normal}@font-face{font-family:Avenir;src:url(//cdn.shopify.com/s/files/1/0300/1545/t/199/assets/Avenir-Roman.woff2?v=11785541211879034316) format("woff2"),url(//cdn.shopify.com/s/files/1/0300/1545/t/199/assets/Avenir-Roman.woff?v=2585572704756590310) format("woff");font-weight:400;font-style:normal}@font-face{font-family:Avenir;src:url(//cdn.shopify.com/s/files/1/0300/1545/t/199/assets/Avenir-Heavy.woff2?v=2072511179928286460) format("woff2"),url(//cdn.shopify.com/s/files/1/0300/1545/t/199/assets/Avenir-Heavy.woff?v=8078138697474434494) format("woff");font-weight:900;font-style:normal}@font-face{font-family:'Avenir Book';src:url(//cdn.shopify.com/s/files/1/0300/1545/t/199/assets/Avenir-Book.woff2?v=6824890547702183318) format("woff2"),url(//cdn.shopify.com/s/files/1/0300/1545/t/199/assets/Avenir-Book.woff?v=10905325891768567550) format("woff");font-weight:400;font-style:normal}@font-face{font-family:'KG HAPPY Solid';src:url(//cdn.shopify.com/s/files/1/0300/1545/t/199/assets/KGHAPPYSolid.woff2?v=5124083258994759742) format("woff2"),url(//cdn.shopify.com/s/files/1/0300/1545/t/199/assets/KGHAPPYSolid.woff?v=8884796394159031110) format("woff");font-weight:400;font-style:normal;font-display:swap}
    #completed_message.alert-success {
      background-color: #a9dd6133;
    }

    .submit-container button.btn {
      font-family: Avenir,sans-serif;
      font-weight: 900;
      font-size: 16px;
      letter-spacing: 1.25px;
      border-radius: 4px;
      height: 59px;
    }

    .form-group select, .form-group input {
      border-radius: 4px;
      box-shadow: none;
      border-color: #4d4d4d33;
      font-family: Avenir,sans-serrif;
      font-size: 18px;
      color: #4d4d4d;
      height: 46px !important;
      padding: 0 16px;
      height: 59px !important;
    }

    .form-group select {
      padding: 0 16px 0 12px;

    }

    button.close {
      font-size: 24px;
      font-family: 'KG HAPPY Solid';
      color: #4d4d4d;
    }

    select#variants {
      background-image: url("data:image/svg+xml;utf8,<svg style='transform: rotate(180deg)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.769 11.218'> <path stroke='darkgrey' fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2.667' d='m1.885 9.333 8.533-8 7.467 8'/> </svg>");
      background-repeat: no-repeat;
      background-size: 15px;
      background-position-x: calc(100% - 16px);
      background-position-y: 25px;
      -webkit-appearance: none;
      -moz-appearance: none;
    }

    .form-group input::placeholder {
      opacity:1;
      color: #4d4d4d;
    }
    .modal-title { 
        color: #01BCBE; 
        font-family: 'KG HAPPY Solid',sans-serif;
    }
    `,
  drop_background_color: "#000",
  background_color: "#fff",
  text_color: "#222",
  button_text_color: "#fff",
  button_background_color: "#f3576b",
  close_button_color: "#ccc",
  error_background_color: "#fcd6d7",
  error_text_color: "#C72E2F",
  success_background_color: "#d3efcd",
  success_text_color: "#1B9500"
  }
});
</script>