<a class="phone-button" href="tel:+19494784886">
  <img
    src="{{ "phone-call.svg" | asset_url }}"
    alt="phone call"
    width="24" height="24"
  >
</a>

{% stylesheet %}
  .phone-button {
    position: fixed;
    height: 60px;
    width: 60px;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    background-color: #25D366;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.4);
  }
{% endstylesheet %}