<a class="phone-button open" href="tel:+19494784886" style="z-index: 30;">
  <img
    src="{{ "phone-call.svg" | asset_url }}"
    alt="phone call"
    width="24" height="24"
  >
  <span>949-478-4886</span>
</a>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const el = document.querySelector('.phone-button');
    el.addEventListener('click', function (event) {
      if (window.clarity) {
        clarity("event", "Phone call");
      }
    })
  })
</script>

{% stylesheet %}
  .phone-button {
    position: fixed;
    height: 60px;
    width: 60px;
    bottom: 20px;
    right: 20px;
    z-index: 120;
    background-color: #25D366;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.4);
    transition: width 0.35s ease;
  }
  .phone-button span {
    opacity: 0;
    display: none;
    white-space: nowrap;
    transition: opacity 0.25s ease, transform 0.25s ease;
  }

  @media screen and (min-width: 768px) {
    .phone-button.open {
      width: 180px;
      gap: 20px;
    }

    .phone-button.open span {
      opacity: 1;
      display: block;
    }
  }
{% endstylesheet %}