<div class="plan-personalize-container content-box">
  {% comment %}
  <div class="plan-personalize-date">
      <h4 class="h4">Choose Your Ship Date</h4>
      <div class="spacer"></div>
      <div class="plan-date-input-wrap">
        <p>Current Ship Date:</p>
        <input type="text" id="plan-delivery-date-input">
      </div>
      <div class="plan-personalize-gift-check">
        <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" name ="gift">
        <label for="styled-checkbox-1">Gift? Ship the 1st kit to my billing address, and the remainder directly to the recipient.<br>(You’ll enter both addresses during checkout)</label>
        
      </div>
    </div>
  </div>
  <div class="plan-personalize-name">
    <h4 class="h4">Notify A Parent?</h4>
    <p>Provide parent email address for gift confirmation, monthly tracking, and grocery shopping lists. (You'll get them too!)</p>
    <div class="form-row 2-up">
      <div class="form-column">
        <input type="text" name="first_name" placeholder="First Name" maxlength="22">
        <span class="validation-message" name="first_name">You have reached the 22 character maximum.</span>
      </div>
      <div class="form-column">
        <input type="text" name="last_name" placeholder="Last Name" maxlength="13">
        <span class="validation-message" name="last_name">You have reached the 13 character maximum.</span>
      </div>
      <div class="form-column">
        <input type="text" name="email" placeholder="Email" maxlength="40">
        <span class="validation-message" name="email">You have reached the 40 character maximum.</span>
      </div>
    </div>
  </div>
  {% endcomment %}
  {% if section.settings.show_buy_now_ship_later %}
  <div class="plan-buy-now-ship-later">
    <h4 class="h4">Buy Now, Ship Later</h4>
    <div class="form-row 2-up">
      <input rv-checked="state.buyNowShipLater" type="checkbox" id="buy-now-ship-later"/>
      <label for="buy-now-ship-later">Yes, hold my first kit until after the holidays and ship it between January 3-4.</label>
    </div>
  </div>
  {% endif %}
	<div class="bottom-items-container">
  <div class="plan-personalize-name">
    <h4 class="h4">Notify A Parent?</h4>
    <p>Provide parent email address for gift confirmation, monthly tracking, and grocery shopping lists. (You'll get them too!)</p>
    <div class="form-row 2-up">
      <div class="form-column">
        <input type="text" rv-value="state.parentFirstName" placeholder="First Name" maxlength="22">
        <span class="validation-message">You have reached the 22 character maximum.</span>
      </div>
      <div class="form-column">
        <input type="text" rv-value="state.parentLastName" placeholder="Last Name" maxlength="13">
        <span class="validation-message">You have reached the 13 character maximum.</span>
      </div>
      <div class="form-column">
        <input type="text" rv-value="state.parentEmail" placeholder="Email" maxlength="40">
        <span class="validation-message">You have reached the 40 character maximum.</span>
      </div>
    </div>
  </div>
  <div class="plan-personalize-gift-note">
    <h4 class="h4">Add a Note?</h4>
    <p>It will be included in your first kit.</p>
    <div class="form-row 2-up">
      <div class="form-column">
        <textarea class="gift-note" rv-value="state.note" name="gift_note" maxlength="255" rows="13" cols="33" placeholder="Start typing your message..."></textarea>
        <p class="chars-remaining"><span rv-text="state.note | maxLength 255"></span> characters remaining</p>
        <span class="validation-message" name="gift_note">You have reached the 255 character maximum.</span>
      </div>
    </div>
  </div>
	</div>
</div>

<style>
  .plan-buy-now-ship-later { max-width: 900px !important; }
  .bw-step3-content .bottom-items-container {
      display: flex;
      flex-direction: row;
    	justify-content: center;
  }	

  .plan-personalize-name {
      padding: 1rem 3rem;
      width: 50%;
      max-width: 400px;
  }

  .plan-personalize-gift-note {
      width: 50%;
      padding: 1rem 3rem;
      max-width: 400px
  }

  .plan-personalize-container.content-box {
      max-width: 1200px;
  }

  div.bw-personalize {
      max-width: 1200px;
      padding: 0;
  }

  div.bw-personalize .plan-personalize-gift-note textarea {
      height: auto;
  }
  @media only screen and (max-width: 1024px) {
    .bw-step3-content .bottom-items-container {
        flex-direction: column;
      	align-items: center;
    }
    
    .plan-personalize-name {
    	width: auto;
    }
    
    .plan-personalize-gift-note {
    	width: auto;
    }
  }
</style>

{%- comment -%}
<script>
  function reChargeProcessCart() {
	function get_cookie(name){ return( document.cookie.match('(^|; )'+name+'=([^;]*)')||0 )[2] }
      do { 
        token=get_cookie('cart');
      }
      while(token == undefined);	
      var myshopify_domain='{{ shop.permanent_domain }}'
      try { var ga_linker = ga.getAll()[0].get('linkerParam') } catch(err) { var ga_linker ='' }
      checkout_url= "https://checkout.rechargeapps.com/r/checkout?myshopify_domain="+myshopify_domain+"&cart_token="+token+"&"+ga_linker;
      window.location.href = checkout_url
  }
  document.addEventListener('DOMContentLoaded', function(){
    $(".bw-cart-summary a").on("click", function() {
    	event.preventDefault();
      	event.stopPropagation();
        var secondary_email = $('input[name="properties[parent_email]"]').val();
        var parent_first_name = $('input[name="properties[parent_first_name]"]').val();
        var parent_last_name = $('input[name="properties[parent_last_name]"]').val();
//         var gift_note = $('textarea[name="gift_note').val();
      
      var additionalProperties = {
      	secondary_email, parent_last_name, parent_first_name
      }
      const subscriptionLineIndex = CartJS.cart.items.findIndex(item => item.properties["plan"] != null)
      const existingProperties = CartJS.cart.items[subscriptionLineIndex].properties;
      const existingQuantity = CartJS.cart.items[subscriptionLineIndex].quantity;
      
      const payload = {
      	line: subscriptionLineIndex + 1,
        properties: {
          ...existingProperties,
          ...additionalProperties
        }
      }
      CartJS.updateItem(
        subscriptionLineIndex + 1, 
        existingQuantity, 
        { ...existingProperties, ...additionalProperties}, 
        { "success": function(data, textStatus, jqXHR) {reChargeProcessCart()}
      })
    })
  });
</script>
{%- endcomment -%}