<share-tracking class="ajax-cart__share-tracking-container">
  <div class="ajax-cart-share-tracking__header">
    <h4 class="h4">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 690 690"><path d="M580.58 115.03H109.42c-35.2 0-63.84 28.64-63.84 63.84v332.26c0 35.2 28.64 63.84 63.84 63.84h471.15c35.2 0 63.84-28.64 63.84-63.84V178.87c0-35.2-28.64-63.84-63.84-63.84Zm28.04 63.84v332.26c0 15.47-12.58 28.05-28.05 28.05H109.42c-15.47 0-28.05-12.58-28.05-28.05V178.87c0-4.32 1.01-8.39 2.76-12.05l253.61 212.54c3.33 2.79 7.41 4.18 11.5 4.18s8.07-1.36 11.37-4.08l247.81-203.84c.12 1.07.2 2.14.2 3.24Zm-26.49-27.97L349.35 342.38 120.78 150.82h459.8c.52 0 1.03.05 1.55.08Z" style="fill:#565656"/></svg>
      Share tracking info
    </h4>
    <div class="share-tracking-close">
      {% render "icon-close" %}
    </div>
  </div>
  <div class="cart__share-tracking field">
    <label for="share-tracking-note">Provide an additional email address for monthly tracking and grocery lists. (You will get them too!)</label>
    <textarea rows="2" maxlength="255" class="text-area text-area--resize-vertical field__input" name="note" id="share-tracking-note" placeholder="email@example.com"></textarea>
  </div>
  <div class="ajax-cart-share-tracking__action-buttons">
    <button class="button button-primary" id="button-cancel-share-tracking">Cancel</button>
    <button class="button button-primary" id="button-save-share-tracking">Save</button>
  </div>
</share-tracking>