<div class="additional-content-modal" rv-class-open="state.modalOpen" onclick="event.stopPropagation()">
  <backdrop></backdrop>
  <div class="content">
    <div class="modal__close" rv-on-click="methods.closeModal | args true">x</div>
    <div class="modal-content">
    </div>
  </div>
</div>

<style>
  .modal-actions > * {
    flex: 1;
  }

  .modal-actions {
    display: flex;
    grid-gap: 9px;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
  }

  button.btn.btn-outline {
    background: white;
    border: 2px solid #f3576b;
    color: #f3576b;
  }

  .additional-content-modal {
    position: fixed;
    z-index: 2000000;
    width: 100%;
    height: 100vh;
    top: 0;
    background: white;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;
    pointer-events: none;
  }

  .additional-content-modal.open {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
    /* z-index: 2000000; */
  }

  div#subscription-builder-widget .modal__close {
    position: absolute;
    z-index: 5;
    right: 25px;
    top: 25px;
    transform: translateY(-50%);
    font-size: 2.5rem;
    line-height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .modal-header {
      height: 5.2rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: relative;
  }

  h4#modal-header-title {
      font-size: 1.6rem;
      color: #4D4D4D;
      font-weight: 600;
      margin: 0;
      letter-spacing: 1px;
      font-family: KG HAPPY Solid,sans-serif;
  }

</style>