<div id="custom-rug-upload-image-button-container" class="custom-rug-upload-image-container" {% if mobile %}data-mobile="true" {% else %} data-desktop="true"{% endif %}>
  <button id="custom-rug-upload-image-button" type="button" class="custom-rug-upload-image is-flex is-align-center">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-image-up" aria-hidden="true"><path d="M10.3 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v10l-3.1-3.1a2 2 0 0 0-2.814.014L6 21"></path><path d="m14 19.5 3-3 3 3"></path><path d="M17 22v-5.5"></path><circle cx="9" cy="9" r="2"></circle></svg>
    </div>
    <div>
      <div class="custom-rug-upload-image__text">Upload My Logo</div>
      <div class="custom-rug-upload-image__subtext">Rug & Dimensions</div>
    </div>
  </button>
  <div class="custom-rug-upload-image__supported-files">
    PNG, JPG, SVG, WEBP, TIFF, BMP, HEIC, ICO, AVIF
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {

    function isInViewport(element) {
      const rect = element.getBoundingClientRect();
      return (
          rect.top >= 0 &&
          rect.left >= 0 &&
          rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
          rect.right <= (window.innerWidth || document.documentElement.clientWidth)
      );
    }

    $(window).on("scroll resize", function () {
        const el = $(".custom-rug-upload-image-container[data-mobile=\"true\"]");
        if (!isInViewport(el[0])) {
          el.attr('data-mobile-fixed', 'true');
        } else if ($(window).scrollTop() < 200) {
          el.removeAttr('data-mobile-fixed');
        }
    });

  })
</script>