<div class="page-width">
  <div class="grid">
    <div class="grid__item subscription-main-container">
      <div class="grid">
        <div class="grid__item medium-up--one-full">
           <div class="bill-list-header">
              <h3 class="h3">Login Information</h3>
           </div>
           <div class="billing-cards">
              <div class="billing-cards-column-left">
                 <!-- Account Info -->
                 <div class="billing-card">
                    <div class="billing-content-inner account-card billing-card-account toggle-container" toggle-id="billing-card-account">
                       <script>
                          document.addEventListener('DOMContentLoaded', function(){
                          var fName = document.querySelector('.hide.name p').textContent;
                            var lName = document.querySelector('.hide.name span').textContent;
                            var email = document.querySelector('.hide.email span').textContent;
                            
                            document.querySelector('.toggle-open-hide.name').innerText = fName+' '+lName;
                            document.querySelector('.toggle-open-hide.email').innerText = email;
                            document.querySelector('input[name="acct_first_name"]').value = fName;
                            document.querySelector('input[name="acct_last_name"]').value = lName;
                            document.querySelector('.email input[name="acct_email"]').value = email;
                            
                            });	
                              
                       </script>
                       <span class="overlay"></span>
                       <div class="lds-roller">
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <h3>Updating Account...</h3>
                       </div>
                       <div class="login-info">
                          <p>
                             <b class="toggle-open-hide">Name:</b>
                             <span class="toggle-open-hide name"></span>
                             <span class="billing-account-form toggle-me">
                             <label for="acct_first_name">First Name</label>
                             <input type="text" name="acct_first_name" value="">
                             </span>
                             <span class="billing-account-form toggle-me">
                             <label for="acct_last_name">Last Name</label>
                             <input type="text" name="acct_last_name" value="">
                             </span>
                          </p>
                          <p>
                             <b class="toggle-open-hide">Email:</b>
                             <span class="toggle-open-hide email"></span>
                             <span class="billing-account-form toggle-me email">
                             <label for="acct_email">Email</label>
                             <input type="email" name="acct_email" value="">
                             </span>
                          </p>
                       </div>
                       <a class="edit-info toggle-trigger-open toggle-open-hide" toggle-id="billing-card-account" href="javascript:void(0);">Edit</a>
                       <div class="billing-account-actions toggle-me">
                          <div class="validation-container" name="email">Invalid email.</div>
                          <span class="btn billing-account-cta-save account-save-name">Save Changes</span>
                          <span class="toggle-trigger-close" toggle-id="billing-card-account">Cancel</span>
                       </div>
                    </div>
                 </div>
                 <div class="billing-card account-password">
                    <div class="billing-content-inner billing-card-account toggle-container" toggle-id="billing-account-pass">
                       <div class="password-info">
                          <span class="overlay"></span>
                          <div class="lds-roller">
                             <div></div>
                             <div></div>
                             <div></div>
                             <div></div>
                             <div></div>
                             <div></div>
                             <div></div>
                             <div></div>
                             <h3>Updating Password...</h3>
                          </div>
                          <p>
                             <b class="toggle-open-hide">Password:</b>
                             <span class="toggle-open-hide">********</span>
                             <span class="billing-account-form toggle-me">
                             <label for="acct_pass">Password</label>
                             <input type="password" name="acct_pass" placeholder="Change Password" minlength="5">
                             </span>
                             <span class="billing-account-form toggle-me">
                             <label for="acct_pass_confirm">Confirm Password</label>
                             <input type="password" name="acct_pass_confirm" placeholder="Change Password" minlength="5">
                             </span>
                             <span class="validation-container" name="acct_pass_confirm">Passwords do not match.</span>
                             <span class="validation-container" name="acct_pass_length">Password must be at least 5 characters.</span>
                          </p>
                       </div>
                       <a class="edit-info toggle-trigger-open toggle-open-hide" toggle-id="billing-account-pass" href="javascript:void(0);">Edit</a>
                       <div class="billing-account-actions toggle-me">
                          <span class="btn billing-account-cta-save account-save-pass">Save Changes</span>
                          <span class="toggle-trigger-close" toggle-id="billing-account-pass">Cancel</span>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="billing-cards-column-right">
                 <!-- Account Info -->
                 <div class="billing-card cta-cards">
                    <div class="billing-content-inner cta-card">
                       <img src="https://cdn.shopify.com/s/files/1/0300/1545/files/Screen_Shot_2021-04-14_at_8.22.13_PM.png">
                       <h3>Raddish+ Digital Access</h3>
                       <a class="btn billing-card-edit-cta" href="EDITTTTT">Launch Raddish+</a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .validation-container {
	position: absolute;
    bottom: 68px;
    left: 24px;
    top: auto;
}
.lds-roller {
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 100px auto;
  text-align: center;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1
}
.lds-roller h3 {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    color: #ccc;
  	width: 500px;
    white-space: nowrap;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ccc;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  
  .overlay {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.8);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 9px;
    z-index: 1;
  }

</style>