<script src="{{ 'template.login.js' | asset_url }}" defer="defer"></script>
<div class="page-width shopify-section-splash">
  {% render "login-form" %}
</div>

<style>
  .login-footer {
    margin-bottom: 4rem;
  }
  .login-options .login-left {
    text-align: center;
    border: none;
    margin-top: 4rem;
  }
  .login-right strong,
  .login-left strong {
  	font-weight: 600;
  }
  .shopify-section-splash .login-options .login-left:after {
	content: none;
  }
  
  .main-content__account .account-content-container { padding-top: 10px; }
  
  .shopify-section-splash div.login-options { padding: 0; margin: 20px auto 0; }
  
  .login-left { border-right: 1px solid #01bcbe; }
  
  .login-full-width { padding: 0 3rem; text-align: center; }
  
  .shopify-section-splash div.login-intro { margin-top: 10px; }
  
  .spacer { display: none !important; }
  
  #shopify-section-page-splash { margin-bottom: 36px; }
  
  @media only screen and (max-width: 670px) {
    .shopify-section-splash .login-options .login-left:after {
      content: "";
    }
    .login-left { border-right: none; }
  }
  .login-right, .login-left { margin: 15px 0; }
  
  .login-intro { padding: 2rem 0 4rem; }
  
  .shopify-section-splash .login-options:before { display: none; }
  
  .shopify-section-splash .login-options { 
      max-width: 620px;
      margin: 20px auto 40px;
  }
</style>
