<div class="page-width">
  <h2 class="heading text-center">{{ section.settings.heading }}</h2>
  <div class="flex align-center flex-center wrap sources">
    {% for block in section.blocks %}
      <div class="source">
        {% if block.settings.url != blank %}<a href="{{ block.settings.url }}">{% endif %}
        {{ block.settings.image | img_url: '150x' | img_tag }}
        {% if block.settings.url != blank %}</a>{% endif %}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "As Seen In",
    "class": "as-seen-in alternate",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "type": "logo",
        "limit": 4,
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Recommended dimensions: 250x250px"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Logo Text/Source"
          },
          {
            "type": "text",
            "id": "url",
            "label": "URL (Optional)"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "As Seen In",
        "category": "Old Home Sections"
      }
    ]
  }
{% endschema %}
