{%- assign _section = section.settings -%}
{%- assign section_title = _section.title -%}

<div class="section-benefits">
  <div class="section__shell">
    <span class="section__border-left"></span>

    <span class="section__border-right"></span>

    <span class="section__border-bottom"></span>

    <span class="section__border-top"></span>

    {% if section_title != blank %}
      <div class="section__head">
        <h2 class="section__title">
          {{- section_title | newline_to_br -}}
        </h2><!-- /.section__title -->
      </div><!-- /.section__head -->
    {% endif %}

    <div class="section__body">
      <ul class="list-benefits slider-benefits">
        {%- for block in section.blocks -%}
          {%- assign _block = block.settings -%}
          {%- assign block_image = _block.image -%}
          {%- assign block_title = _block.title -%}
          {%- assign block_text = _block.text -%}

          <li>
            {% if block_image != blank %}
              <figure>
                {% include 'image', _image: block_image, size: '500', alt: block_image.alt %}
              </figure>
            {% endif %}

            {% if block_title != blank %}
              <h3>
                {{- block_title -}}
              </h3>
            {% endif %}

            {% if block_text != blank %}
              <p>
                {{- block_text | newline_to_br -}}
              </p>
            {% endif %}
          </li>
        {%- endfor -%}
      </ul><!-- /.list-benefits -->
    </div><!-- /.section__body -->
  </div><!-- /.section__shell -->
</div><!-- /.section-benefits -->

{% schema %}
{
  "name": "Benefits",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "Title"
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Benefits",
      "category": "Home Sections"
    }
  ]
}
{% endschema %}