<h2>{{ section.settings.title }}</h2>
<div class="rte">
<ul class="sidebar-menu">
  {% for link in linklists[section.settings.menu].links %}
    <li>{{ link.title | link_to: link.url }}</li>
  {% endfor %}
</ul>
</div>

{% schema %}
  {
    "name": "Single Column Categories",
    "class": "blog-sidebar-item categories",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Heading",
        "default": "Categories"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Categories Menu"
      }
    ]
  }
{% endschema %}