<p class="text-center">{{ section.settings.description }}</p>

{% schema %}
  {
    "name": "Blog",
    "class": "blog-index",
    "settings": [
      {
        "type": "textarea",
        "id": "description",
        "label": "Blog Description",
        "default": "Discover recipes, tips and activities for your family kitchen!"
      },
      {
        "type": "text",
        "id": "load-more-text",
        "label": "Load More Text",
        "default": "Load More"
      }
    ]
  }
{% endschema %}