<div class="how-we-compare">
<div class="container">
<div class="section-stack">
<div class="section-header justify-self-center text-center">
<div class="prose">
<h2 class="h2">how we compare</h2>
</div>
</div>

<div class="compare">
<ul class="column">
  	<li class="title">  </li>
	<li>24/7 Live Customer Support</li>
	<li><span class='mobileHide'>You Own Your Rug –<br/></span> No Contracts Needed</li>
	<li>Transparent Pricing<span class='mobileHide'><br /> No Hidden Fees</span> </li>
	<li><span class='mobileHide'>Trusted by <br/></span> Fortune 500 Brands</li>
	<li>Eco-Friendly Materials</li>
  <li>Commercial-grade,<br/> Heavy-duty rugs</li>
</ul>

<ul class="column">
	<li class="title">
	<video class = "logo" autoplay="" height="240" loop="" muted="" playsinline="" width="320"><source src="https://cdn.shopify.com/videos/c/o/v/53bcbc037bdf4aa582165357f67ab5b1.mov" type="video/mp4" /> Your browser does not support the video tag.</video>
	<img src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/Rugtomize_logo_wht.png?v=1691010519" alt="Rugtomize Logo" width="500" height="600">
    <svg fill="none" height="117" viewbox="0 0 110 117" width="110" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <mask height="117" id="mask0_1181_115" maskunits="userSpaceOnUse" style="mask-type:alpha" width="110" x="0" y="0"> <rect fill="url(#pattern0_1181_115)" height="117" width="109.149"></rect> </mask> <g mask="url(#mask0_1181_115)"> <rect fill="white" height="117" width="109.149"></rect> </g> <defs> <pattern height="1" id="pattern0_1181_115" patterncontentunits="objectBoundingBox" width="1"> <use transform="matrix(0.000781861 0 0 0.000729395 -0.301016 -0.245077)" xlink:href="#image0_1181_115"></use> </pattern> 
    </defs> </svg></li>
	<li><svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_1181_90)"> <path d="M12 0C5.36761 0 0 5.36705 0 12C0 18.6324 5.36705 24 12 24C18.6324 24 24 18.633 24 12C24 5.36761 18.633 0 12 0ZM18.3522 8.7218L10.6645 16.4095C10.3522 16.7218 9.84548 16.7219 9.53311 16.4095L5.64778 12.5242C5.33536 12.2118 5.33536 11.7052 5.64778 11.3928C5.96016 11.0804 6.46673 11.0804 6.77916 11.3928L10.0988 14.7125L17.2209 7.59037C17.5333 7.27795 18.0399 7.27795 18.3523 7.59037C18.6646 7.90289 18.6646 8.40938 18.3522 8.7218Z" fill="white"></path> </g> <defs> <clippath id="clip0_1181_90"> <rect fill="white" height="24" width="24"></rect> </clippath> </defs> </svg></li>
	<li class="sugar-value">
      <svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_1181_98)"> <path d="M12 0C5.36761 0 0 5.36705 0 12C0 18.6324 5.36705 24 12 24C18.6324 24 24 18.633 24 12C24 5.36761 18.633 0 12 0ZM18.3522 8.7218L10.6645 16.4095C10.3522 16.7218 9.84548 16.7219 9.53311 16.4095L5.64778 12.5242C5.33536 12.2118 5.33536 11.7052 5.64778 11.3928C5.96016 11.0804 6.46673 11.0804 6.77916 11.3928L10.0988 14.7125L17.2209 7.59037C17.5333 7.27795 18.0399 7.27795 18.3523 7.59037C18.6646 7.90289 18.6646 8.40938 18.3522 8.7218Z" fill="white"></path> </g> <defs> <clippath id="clip0_1181_98"> <rect fill="white" height="24" width="24"></rect> </clippath> </defs> </svg>
    </li>
	<li>
      <svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_1181_98)"> <path d="M12 0C5.36761 0 0 5.36705 0 12C0 18.6324 5.36705 24 12 24C18.6324 24 24 18.633 24 12C24 5.36761 18.633 0 12 0ZM18.3522 8.7218L10.6645 16.4095C10.3522 16.7218 9.84548 16.7219 9.53311 16.4095L5.64778 12.5242C5.33536 12.2118 5.33536 11.7052 5.64778 11.3928C5.96016 11.0804 6.46673 11.0804 6.77916 11.3928L10.0988 14.7125L17.2209 7.59037C17.5333 7.27795 18.0399 7.27795 18.3523 7.59037C18.6646 7.90289 18.6646 8.40938 18.3522 8.7218Z" fill="white"></path> </g> <defs> <clippath id="clip0_1181_98"> <rect fill="white" height="24" width="24"></rect> </clippath> </defs> </svg>
    </li>
	<li>
      <svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_1181_98)"> <path d="M12 0C5.36761 0 0 5.36705 0 12C0 18.6324 5.36705 24 12 24C18.6324 24 24 18.633 24 12C24 5.36761 18.633 0 12 0ZM18.3522 8.7218L10.6645 16.4095C10.3522 16.7218 9.84548 16.7219 9.53311 16.4095L5.64778 12.5242C5.33536 12.2118 5.33536 11.7052 5.64778 11.3928C5.96016 11.0804 6.46673 11.0804 6.77916 11.3928L10.0988 14.7125L17.2209 7.59037C17.5333 7.27795 18.0399 7.27795 18.3523 7.59037C18.6646 7.90289 18.6646 8.40938 18.3522 8.7218Z" fill="white"></path> </g> <defs> <clippath id="clip0_1181_98"> <rect fill="white" height="24" width="24"></rect> </clippath> </defs> </svg>
    </li>
	<li><svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_1181_98)"> <path d="M12 0C5.36761 0 0 5.36705 0 12C0 18.6324 5.36705 24 12 24C18.6324 24 24 18.633 24 12C24 5.36761 18.633 0 12 0ZM18.3522 8.7218L10.6645 16.4095C10.3522 16.7218 9.84548 16.7219 9.53311 16.4095L5.64778 12.5242C5.33536 12.2118 5.33536 11.7052 5.64778 11.3928C5.96016 11.0804 6.46673 11.0804 6.77916 11.3928L10.0988 14.7125L17.2209 7.59037C17.5333 7.27795 18.0399 7.27795 18.3523 7.59037C18.6646 7.90289 18.6646 8.40938 18.3522 8.7218Z" fill="white"></path> </g> <defs> <clippath id="clip0_1181_98"> <rect fill="white" height="24" width="24"></rect> </clippath> </defs> </svg></li>
  <li><svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_1181_98)"> <path d="M12 0C5.36761 0 0 5.36705 0 12C0 18.6324 5.36705 24 12 24C18.6324 24 24 18.633 24 12C24 5.36761 18.633 0 12 0ZM18.3522 8.7218L10.6645 16.4095C10.3522 16.7218 9.84548 16.7219 9.53311 16.4095L5.64778 12.5242C5.33536 12.2118 5.33536 11.7052 5.64778 11.3928C5.96016 11.0804 6.46673 11.0804 6.77916 11.3928L10.0988 14.7125L17.2209 7.59037C17.5333 7.27795 18.0399 7.27795 18.3523 7.59037C18.6646 7.90289 18.6646 8.40938 18.3522 8.7218Z" fill="white"></path> </g> <defs> <clippath id="clip0_1181_98"> <rect fill="white" height="24" width="24"></rect> </clippath> </defs> </svg></li>
</ul>

<ul class="column">
	<li class="title">Alternate Rug Suppliers</li>
	<li class="ethighlight"><svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_1181_106)"> <path d="M20.4892 3.51073C15.8082 -1.17034 8.19161 -1.17015 3.51073 3.51073C-1.17015 8.19161 -1.17034 15.8082 3.51073 20.4892C8.1918 25.1703 15.8084 25.1702 20.4892 20.4892C25.1701 15.8083 25.1703 8.1918 20.4892 3.51073ZM16.9839 15.8764C17.2898 16.1823 17.2896 16.6782 16.9839 16.9839C16.6782 17.2896 16.1823 17.2898 15.8764 16.9839L12 13.1075L8.12364 16.9839C7.81793 17.2896 7.32204 17.2898 7.01613 16.9839C6.71022 16.678 6.71041 16.1821 7.01613 15.8764L10.8925 12L7.01613 8.12364C6.71022 7.81774 6.71041 7.3218 7.01613 7.01613C7.32185 6.71046 7.81774 6.71022 8.12364 7.01613L12 10.8925L15.8764 7.01613C16.1821 6.71041 16.678 6.71022 16.9839 7.01613C17.2898 7.32204 17.2896 7.81797 16.9839 8.12364L13.1075 12L16.9839 15.8764Z" fill="black"></path> </g> <defs> <clippath id="clip0_1181_106"> <rect fill="white" height="24" width="24"></rect> </clippath> </defs> </svg></li>
	<li><svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_1181_106)"> <path d="M20.4892 3.51073C15.8082 -1.17034 8.19161 -1.17015 3.51073 3.51073C-1.17015 8.19161 -1.17034 15.8082 3.51073 20.4892C8.1918 25.1703 15.8084 25.1702 20.4892 20.4892C25.1701 15.8083 25.1703 8.1918 20.4892 3.51073ZM16.9839 15.8764C17.2898 16.1823 17.2896 16.6782 16.9839 16.9839C16.6782 17.2896 16.1823 17.2898 15.8764 16.9839L12 13.1075L8.12364 16.9839C7.81793 17.2896 7.32204 17.2898 7.01613 16.9839C6.71022 16.678 6.71041 16.1821 7.01613 15.8764L10.8925 12L7.01613 8.12364C6.71022 7.81774 6.71041 7.3218 7.01613 7.01613C7.32185 6.71046 7.81774 6.71022 8.12364 7.01613L12 10.8925L15.8764 7.01613C16.1821 6.71041 16.678 6.71022 16.9839 7.01613C17.2898 7.32204 17.2896 7.81797 16.9839 8.12364L13.1075 12L16.9839 15.8764Z" fill="black"></path> </g> <defs> <clippath id="clip0_1181_106"> <rect fill="white" height="24" width="24"></rect> </clippath> </defs> </svg></li>
  <li><svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_1181_106)"> <path d="M20.4892 3.51073C15.8082 -1.17034 8.19161 -1.17015 3.51073 3.51073C-1.17015 8.19161 -1.17034 15.8082 3.51073 20.4892C8.1918 25.1703 15.8084 25.1702 20.4892 20.4892C25.1701 15.8083 25.1703 8.1918 20.4892 3.51073ZM16.9839 15.8764C17.2898 16.1823 17.2896 16.6782 16.9839 16.9839C16.6782 17.2896 16.1823 17.2898 15.8764 16.9839L12 13.1075L8.12364 16.9839C7.81793 17.2896 7.32204 17.2898 7.01613 16.9839C6.71022 16.678 6.71041 16.1821 7.01613 15.8764L10.8925 12L7.01613 8.12364C6.71022 7.81774 6.71041 7.3218 7.01613 7.01613C7.32185 6.71046 7.81774 6.71022 8.12364 7.01613L12 10.8925L15.8764 7.01613C16.1821 6.71041 16.678 6.71022 16.9839 7.01613C17.2898 7.32204 17.2896 7.81797 16.9839 8.12364L13.1075 12L16.9839 15.8764Z" fill="black"></path> </g> <defs> <clippath id="clip0_1181_106"> <rect fill="white" height="24" width="24"></rect> </clippath> </defs> </svg></li>
	<li><svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_1181_106)"> <path d="M20.4892 3.51073C15.8082 -1.17034 8.19161 -1.17015 3.51073 3.51073C-1.17015 8.19161 -1.17034 15.8082 3.51073 20.4892C8.1918 25.1703 15.8084 25.1702 20.4892 20.4892C25.1701 15.8083 25.1703 8.1918 20.4892 3.51073ZM16.9839 15.8764C17.2898 16.1823 17.2896 16.6782 16.9839 16.9839C16.6782 17.2896 16.1823 17.2898 15.8764 16.9839L12 13.1075L8.12364 16.9839C7.81793 17.2896 7.32204 17.2898 7.01613 16.9839C6.71022 16.678 6.71041 16.1821 7.01613 15.8764L10.8925 12L7.01613 8.12364C6.71022 7.81774 6.71041 7.3218 7.01613 7.01613C7.32185 6.71046 7.81774 6.71022 8.12364 7.01613L12 10.8925L15.8764 7.01613C16.1821 6.71041 16.678 6.71022 16.9839 7.01613C17.2898 7.32204 17.2896 7.81797 16.9839 8.12364L13.1075 12L16.9839 15.8764Z" fill="black"></path> </g> <defs> <clippath id="clip0_1181_106"> <rect fill="white" height="24" width="24"></rect> </clippath> </defs> </svg></li>
	<li><svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_1181_106)"> <path d="M20.4892 3.51073C15.8082 -1.17034 8.19161 -1.17015 3.51073 3.51073C-1.17015 8.19161 -1.17034 15.8082 3.51073 20.4892C8.1918 25.1703 15.8084 25.1702 20.4892 20.4892C25.1701 15.8083 25.1703 8.1918 20.4892 3.51073ZM16.9839 15.8764C17.2898 16.1823 17.2896 16.6782 16.9839 16.9839C16.6782 17.2896 16.1823 17.2898 15.8764 16.9839L12 13.1075L8.12364 16.9839C7.81793 17.2896 7.32204 17.2898 7.01613 16.9839C6.71022 16.678 6.71041 16.1821 7.01613 15.8764L10.8925 12L7.01613 8.12364C6.71022 7.81774 6.71041 7.3218 7.01613 7.01613C7.32185 6.71046 7.81774 6.71022 8.12364 7.01613L12 10.8925L15.8764 7.01613C16.1821 6.71041 16.678 6.71022 16.9839 7.01613C17.2898 7.32204 17.2896 7.81797 16.9839 8.12364L13.1075 12L16.9839 15.8764Z" fill="black"></path> </g> <defs> <clippath id="clip0_1181_106"> <rect fill="white" height="24" width="24"></rect> </clippath> </defs> </svg></li>
	<li><svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_1181_106)"> <path d="M20.4892 3.51073C15.8082 -1.17034 8.19161 -1.17015 3.51073 3.51073C-1.17015 8.19161 -1.17034 15.8082 3.51073 20.4892C8.1918 25.1703 15.8084 25.1702 20.4892 20.4892C25.1701 15.8083 25.1703 8.1918 20.4892 3.51073ZM16.9839 15.8764C17.2898 16.1823 17.2896 16.6782 16.9839 16.9839C16.6782 17.2896 16.1823 17.2898 15.8764 16.9839L12 13.1075L8.12364 16.9839C7.81793 17.2896 7.32204 17.2898 7.01613 16.9839C6.71022 16.678 6.71041 16.1821 7.01613 15.8764L10.8925 12L7.01613 8.12364C6.71022 7.81774 6.71041 7.3218 7.01613 7.01613C7.32185 6.71046 7.81774 6.71022 8.12364 7.01613L12 10.8925L15.8764 7.01613C16.1821 6.71041 16.678 6.71022 16.9839 7.01613C17.2898 7.32204 17.2896 7.81797 16.9839 8.12364L13.1075 12L16.9839 15.8764Z" fill="black"></path> </g> <defs> <clippath id="clip0_1181_106"> <rect fill="white" height="24" width="24"></rect> </clippath> </defs> </svg></li>
    
</ul>
</div>
</div>
</div>
</div>

<style>


.how-we-compare .h2{
letter-spacing: normal;
}
.container{
  justify-content:center;
}

.compare{
  display: flex;
  /*flex-wrap: wrap;*/
  font-size: 16px;
  justify-content: center;
  align-items: flex-end;
} 
.compare ul.column{
  
  padding: 0;
  display: flex;
  flex-direction: column;
  color: black;
  width:275px; /* width of each table */
  margin-right: 0; /* spacing between tables */
  margin-bottom: 1em;
  border: none;
  transition: all .5s;
}

.compare ul.column:first-child{
  width: 290px;
}

.compare ul.column .center{
  margin: 0 auto;
  text-align: center;
}

.compare ul.column img{
  max-width: 80%;
  height: auto;
}

.compare ul.column li{
  padding: 10px 10px;
  border-bottom: 1px solid #eee;
  font-family: var(--heading-font-family);
  margin-bottom: 0px;
}

.compare ul.column li.title{
  font-weight: bold;
  text-align: center;
  padding: 30px 10px;
  color: white;
  text-transform: uppercase;
}
/* 1. Center the image */
.column .title {
  text-align: center;
   /* horizontal centering: */
  justify-content: center;
}

/* 2. Make the image bigger and keep its aspect ratio */
.column .title img {
  display: block;        /* turn it into a block */
  margin: 0 auto;        /* center horizontally */
//  max-width: 80%;        /* or “600px” if you want a fixed cap */
  height: auto;          /* keep the aspect ratio */
transform: translateX(15px)
}

.compare ul.column:nth-of-type(2){
  background: #1C1B1B;
}

.compare ul.column:nth-of-type(2) li.title{
  color: #000;
}
    
.compare ul.column:nth-of-type(3) li.title{
  color: #000;
}

.compare ul.column li b{
  text-transform: uppercase;
}
.compare ul.column li.title b{
  font-size: 24px;
}

.how-we-compare {
    background: #fff;
    padding: 0;
  margin-top: 6rem;
  margin-bottom: 6rem;

}

.how-we-compare .h2 {
    font-size: 28px;
    line-height: 43px;
}

.how-we-compare .section-stack {
    row-gap: 60px;
}

.compare ul.column:nth-of-type(2){
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

.compare ul.column:nth-of-type(2) video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  opacity: 0.3;
  height: 100%;
}

.compare ul.column li:first-child{
  min-height: 179px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 25px;
  border-bottom: none !important;
}


.compare ul.column:nth-of-type(3) li.title {
    font-size: 24px;
    line-height: 24px;
    padding-inline: 50px;
    padding-bottom: 25px;
}

.compare ul.column li:not(:first-child) {
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    background: #fff;
    border-bottom: 2px solid #fff7b6;
}

.compare ul.column:nth-of-type(3) li.title {
    font-size: 16px;
    line-height: 32px;
    padding-bottom: 25px;
}

.compare ul.column li:not(:first-child) {
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    background: #fff;
    border-bottom: 1px solid #F2C6A2;
}

.compare ul.column:nth-of-type(2) li {
    background: transparent;
    border: none;
    color: #fff;
    padding-inline: 30px;
    border-bottom: 1px solid transparent !important;
}

.compare ul.column:first-child li:not(:first-child) {
    justify-content: flex-start;
    padding-left: 30px;
  display:block;
}

.compare ul.column:first-child li:nth-child(2) {border-top-left-radius: 5px;}

.compare ul.column:first-child li:last-child {
    border-bottom-left-radius: 5px;
}

.compare ul.column:last-child li:last-child {
    border-bottom-right-radius: 5px;
}

.compare ul.column:last-child li:nth-child(2) {
    border-top-right-radius: 5px;
}

.compare ul.column li:first-child svg{
          width: auto;
        margin-right: 0;
}
  .column .title + li {
  display: flex !important;
}

@media (max-width: 1024px){
  .how-we-compare{
    padding: 1rem 0;
    padding-bottom:3rem;
      margin-top: 3rem;
  margin-bottom: 3rem;
  }
  
  .how-we-compare .h2 {
    font-size: 42px;
    line-height: 40px;
  }
  
  .how-we-compare .section-stack {
    row-gap: 40px;
  }
  
  .compare ul.column:first-child, .compare ul.column{
   width: 33%;
  }
  
  .compare ul.column li:not(:first-child){
   min-height: 60px;
   font-size: 12px;
    line-height: 14px;
    padding: 5px 10px;
  }
  
  .compare ul.column:first-child li:not(:first-child){
   padding-left: 10px;
    text-align: left;
  }
  
  .compare ul.column:nth-of-type(3) li.title {
    font-size: 14px;
    line-height: 16px;
    padding-inline: 15px !important;
    padding-bottom: 10px;
    max-width: 110px;
    margin-inline: auto;
    min-height: 49px;
    padding-top: 5px;
  }
  
  .compare ul.column:nth-of-type(2) li{
    padding-inline: 20px;
  }
  
  .compare ul.column li:not(:first-child) svg{
   width: 16px;
    height: 16px;
  }
  
  .compare ul.column li:first-child{
    min-height: 70px;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  
  .compare ul.column li:first-child svg{
  max-width: 47px;
    margin-bottom: -16px;
    height: auto;
  }
  .compare ul.column:first-child li:not(:first-child) {
  display:flex;
  }
  .mobileHide{
    display:none;
  }
}

@media (max-width: 420px){

  .compare ul.column:nth-of-type(2) li{
   padding: 7px !important;
  }
  
  .compare ul.column:nth-of-type(2){
   min-width: 110px;
  }
  
  .compare ul.column:nth-of-type(3){
   width: 33%;
    flex-grow: 1;
  }
}
</style>

{% schema %}
{
  "name": "Comparison Chart",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "Comparison Chart",
      "category": "Custom"
    }
  ]
}
{% endschema %}
