{%- assign _section = section.settings -%}
{%- assign section_title = _section.title | newline_to_br -%}
{%- assign section_image = _section.image -%}
{%- assign section_mbl_image = _section.mbl_image -%}
<style>
  .section-intro1 {
    margin-bottom: 55px;
    height: 408px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-image: url({{- section_image | img_url: '2048x' -}})
  }
  .section__inner1 {
    position: relative;
    width: 316px;
    left:10%;
    text-align: center;
    align-self: center;
    padding: clamp(8px, 2vw, 24px);
  }

  .section__title {
      color:#4D4D4D;
  }
  .section-intro--holiday-description {
    margin-top: 14px;
  }
  @media (max-width: 767px){
     .section-intro1 {
        background-image: url({{- section_mbl_image | img_url: '2048x' -}});
        justify-content: center;
        height: 347px;
        margin-bottom: 18px;
     }
     .section__inner1 {
        display: flex;
        align-self: start;
        flex-direction: column;
        padding-top: 33px;
        left:0%;
     }

     .section-intro--holiday-description {
      margin-top: 5px;
      font-size: 16px;
      line-height: 26px;
      color: #4D4D4D;
      font-weight: 800px;
     }
  }
</style>
{% if section_image != blank  %}
  {% if section_mbl_image != blank  %}
    <div class="section-intro1 section-intro--holiday" >
      <div class="section__inner1">
        <h1 class="section__title" style="color: #4D4D4D">
          {{- section_title | default: page.title -}}
        </h1>
        {% if _section.subtitle != '' %}
          <div class="section__entry section-intro--holiday-description">
            {{- _section.subtitle -}}
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endif %}
{% schema %}
{
  "name": "Holiday Intro",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    { "type": "image_picker",
       "id": "mbl_image",
       "label": "Image (mobile, optional)" },
    {
      "type": "textarea",
      "id": "title",
      "label": "Title Override",
      "info": "If empty the page title is used."
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle" 
    }
  ]
}
{% endschema %}