{%- assign _section  = section.settings -%}

<div class="section-head">
  <div class="page-width">
    {% if _section.title != blank %}
      <h2 class="section-head__title">
        {{ _section.title }}
      </h2><!-- /.section-head__title -->
    {% endif %}

    {% if _section.content != blank %}
      <div class="section-head__description">
        {{ _section.content }}
      </div><!-- /.section-head__description -->
    {% endif %}

    {% if _section.button_label != blank and _section.button_link != blank %}
      <a href="{{- _section.button_link -}}" class="btn section-head__btn">
        {{ _section.button_label }}
      </a><!-- /.section-head__btn -->
    {% endif %}
  </div><!-- /.page-width -->
</div><!-- /.section-head -->

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ]
}
{% endschema %}