
<div class="how-it-works-v3 page-width">
  <div class="how-it-works-v3__card raddish-card">
    <h1 class="h1">{{section.settings.title}}</h1>
    <div class="how-it-works__content">
      <div class="how-it-works__images">
        {% assign image_blocks = section.blocks | where: "type", "image" %}
        {% for block in image_blocks %}
        <div class="how-it-works__slider-image">
          {% render 'image', _image: block.settings.image, alt: block.settings.image.alt %}
        </div>
        {% endfor %}
      </div>
      <div class="how-it-works__blocks">
        {% assign content_blocks = section.blocks | where: "type", "block" %}
        {% for block in content_blocks %}
          <div class="how-it-works__block">
            <div class="how-it-works__image">
              {% render 'image', _image: block.settings.image, alt: block.settings.image.alt %}
            </div>
            <div class="how-it-works__description">
              <h4 class="h4">{{block.settings.title}}</h4>
              <p>{{block.settings.description}}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<style>
  .how-it-works-v3__card {
  }

  .how-it-works-v3 {
      padding-top: 2.4rem;
      padding-bottom: 2.4rem;
      width: 100%;
      max-width: 1300px;
  }

  .how-it-works-v3 h1 {
      font-size: 26px;
      text-align: center;
      margin-top: 1.6rem;
      margin-bottom: 1.6rem;
  }

  .how-it-works__image {
      max-width: 60px;
      width: 100%;
  }

  .how-it-works__block {
      display: flex;
      grid-gap: 10px;
  }

  .how-it-works__description h4 {
      color: #4D4D4D;
      margin-bottom: 8px;
  }

  .how-it-works__description p {
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
  }

  .how-it-works__block {
      margin-bottom: 3rem;
  }

  .how-it-works__block {
      padding: 0 11px;
  }
  .how-it-works__slider-image img {
      border-radius: 8px;
      width: 100%;
  }
  .how-it-works__content {
    display: flex;
    flex-direction: row;
    max-width: 1050px;
    margin: 0 auto;
    gap: 3rem;
  }
  .how-it-works__images {
    width: 100%;
    display: none;
  }
  @media screen and (min-width: 750px) {
    .how-it-works__content {
      margin-top: 2.5rem;
    }
    .how-it-works__image {
        max-width: 80px;
    }
    .how-it-works-v3__card {
      padding-bottom: 2.5rem;
    }
    .how-it-works__images {
      display: block;
    }
    .how-it-works__block {
      gap: 16px;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    $("#shopify-section-{{section.id}} .how-it-works__images").slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 2000,
      infinite: true,
      arrows: false
    })
  })
</script>

{% schema %}
  {
    "name": "How it works",
    "class": "light-background",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "How it works"
      },
      {
        "type": "text",
        "id": "autorotate_speed",
        "label": "Autorotate speed",
        "default": "1500"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "Description"
          }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "How it works",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}