{%- assign _section = section.settings -%}

<div class="intro-coupon">
	{%- if _section.image != blank -%}
	<div class="intro-coupon__image {% if _section.mobile_image != blank %}hidden-xs{% endif %}" style="background-image: url({{- _section.image | img_url: '1440x' -}});"></div><!-- /.intro-coupon__image -->
	{%- endif -%}

	{%- if _section.mobile_image != blank -%}
	<div class="intro-coupon__image hidden-sm hidden-md hidden-lg" style="background-image: url({{- _section.mobile_image | img_url: '767x' -}});"></div><!-- /.intro-coupon__image -->
	{%- endif -%}

	<div class="intro-coupon__content">
		{%- if _section.title != blank -%}
		<h2>{{- _section.title -}}</h2>
		{%- endif -%}

		{%- if _section.content != blank -%}
		{{- _section.content -}}
		{%- endif -%}
	</div><!-- /.intro-coupon__content -->
</div><!-- /.intro-coupon -->

{% schema %}
{
	"name": "Intro Coupon",
	"settings": [
		{
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		},
		{
			"type": "image_picker",
			"id": "mobile_image",
			"label": "Mobile image"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		},
		{
			"type": "richtext",
			"id": "content",
			"label": "Content"
		}
	]
}
{% endschema %}
