{%- assign _section = section.settings -%}
{%- assign section_image = _section.image -%}
{%- assign section_title = _section.title -%}
{%- assign section_text = _section.text -%}
{%- assign section_author = _section.author -%}

<div class="section-join-testimonial">
  <div class="page-width">
    <div class="section__inner">
      <h2 class="section__title visible-xs-block visible-sm-block">
        {{- section_title -}}
      </h2><!-- /.section__title -->

      {% if section_image != blank %}
        <div class="section__image">
          {% include 'image', _image: section_image, size: '1024', alt: section_image.alt %}
        </div><!-- /.section__image -->
      {% endif %}

      {% if section_title != blank or section_text != blank or section_author != blank %}
        <div class="section__content">
          {% if section_title != blank %}
            <h2 class="section__title hidden-xs hidden-sm">
              {{- section_title -}}
            </h2><!-- /.section__title -->
          {% endif %}

          {% if section_text != blank %}
            <p class="section__entry">
              {{- section_text | newline_to_br -}}
            </p><!-- /.section__entry -->
          {% endif %}

          {% if section_author != blank %}
            <p class="section__author">
              {{- section_author -}}
            </p><!-- /.section__author -->
          {% endif %}
          <div class="section__actions">
            <a href="/blogs/bonus-bites/rad-kids-imadethismoment" class="btn">learn more</a>
          </div>
        </div><!-- /.section__content -->
      {% endif %}
    </div><!-- /.section__inner -->
  </div><!-- /.page-width -->
</div><!-- /.section-join-testimonial -->

{% schema %}
{
  "name": "Join Testimonial",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "author",
      "label": "Author"
    }
  ]
}
{% endschema %}
