<div class="section-media">
  <div class="page-width">
    <ul class="list-media">
      {%- for block in section.blocks -%}
        {%- assign _block = block.settings -%}
        {%- assign block_image = _block.image -%}
        {%- assign block_url = _block.url -%}
        
        <li>
          {% if block_url != blank %}
            <a href="{{- block_url -}}">
          {% endif %}
          
          {% include 'image', _image: block_image, size: '194' %}
          
          {% if block_url != blank %}
            </a>
          {% endif %}
        </li>
      {%- endfor -%}
    </ul><!-- /.list-media -->
  </div><!-- /.page-width -->
</div><!-- /.section-media -->

{% schema %}
{
  "name": "Media",
  "blocks": [
    {
      "type": "media",
      "name": "Media",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Media",
      "category": "Home Sections"
    }
  ]
}
{% endschema %}
