<div class="rad-clubs-landing">
  <h2 class="h2">
    {{section.settings.title}}
  </h2>
  <div class="list-clubs">
    {% for block in section.blocks %}
    <div class="club-container">
      <div class="club-image" style="background-color: {{block.settings.background_color}}">
        {% render 'image': _image: block.settings.club_icon %}
        <h4 class="h4">{{block.settings.title}}</h4>
      </div>
      <div class="club-description">
        <div>{{block.settings.short_description}}</div>
        <span class="plus"></span>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


<style>
  .rad-clubs-landing .club-container {
    display: flex;
  }
  .club-description {
    display: flex;
    align-items: center;
  }
  .rad-clubs-landing .plus {
    margin-left: 12px;
    width: 12px;
    flex: 0 0 15px;
    height: 20px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url(//cdn.shopify.com/s/files/1/0509/9333/2399/t/106/assets/blue-plus.png?v=4406640…);
    margin-right: 10px;
    margin-top: 5px;
  }
  .open.club-container .plus {
    background-image: url(//cdn.shopify.com/s/files/1/0509/9333/2399/t/106/assets/blue-minus.png?v=1076741…);
    display: block;
  }
  .rad-clubs-landing {
    padding: 24px 21px;
    /* padding-bottom: 8rem; */
  }
  
  .club-description {
      margin-left: .8rem;
  }
  
  .rad-clubs-landing .club-container:not(:last-child) {
    margin-bottom: 2.4rem;
  }

  .club-description > div {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
  }
  .rad-clubs-landing h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    padding: 0 1rem;
    text-transform: none;
  }
  .club-image {
      border-radius: 8px;
      width: 100%;
      max-width: 105px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .club-image img {
    height: 100%;
    display: block;
    max-width: 3.2rem;
  }
  h4.h4 {}

  .club-image h4 {
    margin-bottom: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    margin-top: 4px;
  }

  .club-image {
    padding: 8px;
  }

  .club-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
  }
</style>

{% schema %}
{
  "name": "Other clubs - Landing",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Other Clubs",
      "category": "Landing"
    }
  ],
  "blocks": [
    {
      "type": "club",
      "name": "Club",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Club"
        },
        {
          "type": "image_picker",
          "id": "club_icon",
          "label": "Icon"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
        },
        {
          "type": "richtext",
          "id": "short_description",
          "label": "Short Description"
        }
      ]
    }
  ]
}
{% endschema %}