<div class="page-width narrow">
  <h2 class="subheading text-center">{{ section.settings.heading }}</h2>
  {% for block in section.blocks %}
    <div>
      <h3>{{ block.settings.title }}</h3>
      {{ block.settings.content }}
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Raddish Classrooms: Info",
    "class": "raddish-classrooms info alternate",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Bullet Point",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ]
  }
{% endschema %}
