{% assign is_full_width = true %}

{% if section.settings.content_left != blank and section.settings.content_right != blank %}
	{% assign is_full_width = false %}
{% endif %}


<div class="page-width">
    <div class="login-options">
      {% comment %}
        <img src="https://cdn.shopify.com/s/files/1/0300/1545/files/Screen_Shot_2021-06-10_at_10.09.52_AM.png" alt="chef icon" class="chef-icon">
      {% endcomment %}
      <div class="{% if is_full_width %}login-full-width{% else %}login-left{% endif %}">
            {{ section.settings.content_left }}
        </div>
        <div class="{% if is_full_width %}login-full-width{% else %}login-right{% endif %}">
          {{ section.settings.content_right }}
        </div>
    </div>
    <div class="login-intro">
        {% render "customer-login-form" %}
    </div>
    <div class="login-footer">
        <p>Questions? We're here to help!</p>
        <p>Contact <a href="javascript:void(0);" onclick="zE.activate();">Customer Service</a>.</p>
    </div>
</div>

<style>
  .login-right strong,
  .login-left strong {
  	font-weight: 600;
  }
  .shopify-section-splash .login-options .login-left:after {
	content: none;
  }

  .login-left { border-right: 1px solid #01bcbe; }

  .login-full-width { padding: 0 3rem; text-align: center; }

  .spacer { display: none !important; }

  #shopify-section-page-splash { margin-bottom: 36px; }

  @media only screen and (max-width: 670px) {
    .shopify-section-splash .login-options .login-left:after {
      content: "";
    }
    .login-left { border-right: none; }
  }
  .login-right, .login-left { margin: 15px 0; }

  .login-intro { padding: 2rem 0 4rem; }

  .shopify-section-splash .login-options:before { display: none; }

  .shopify-section-splash .login-options {
      max-width: 620px;
      margin: 40px auto 20px;
  }
</style>

{% schema %}
{
  "name": "Splash Page",
  "class": "shopify-section-splash",
  "settings": [
	{
      "type": "richtext",
      "id": "content_left",
      "label": "Content Left",
	   "info": "Leave blank and Content Right would become full width"
	},
	{
      "type": "richtext",
      "id": "content_right",
      "label": "Content Right",
 	   "info": "Leave blank and Content Left would become full width"
	}
  ]
}
{% endschema %}
