<div class="page-width">
  {{ section.settings.paragraph }}
  <div class="cta text-center">
    <a class="btn" href="{{ section.settings.url }}">{{ section.settings.cta }}</a>
  </div>
</div>

{% schema %}
  {
    "name": "FAQ: Footer",
    "class": "faq-page footer alternate",
    "settings": [
      {
        "type": "richtext",
        "id": "paragraph",
        "label": "Footer Text"
      },
      {
        "type": "text",
        "id": "cta",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Button URL"
      }
    ]
  }
{% endschema %}
