<div {% include 'image', _image: section.settings.image, size: '2048', sizes: '600,1024,2048', background: true, inline: true, classes: 'page hero' %}>
  {% include 'image', _image: section.settings.image, size: '2048', sizes: '600,1024,2048', classes: 'page hero', alt: page.title %}
</div>
<div class="page-width">
  <h1 class="heading alt text-center">{{ page.title }}</h1>
</div>

{% schema %}
  {
    "name": "FAQ: Intro",
    "class": "faq-page intro",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Hero Image"
      }
    ]
  }
{% endschema %}
