<div class="page-width">
    <h2 class="heading flex flex-center align-center">{{ section.settings.heading }}</h2>
  <div class="details flex space wrap">
    {% for block in section.blocks %}
      <div>
        {{ block.settings.image | img_url: 'x200' | img_tag }}
        <h3>{{ block.settings.title }}</h3>
        <div class="rte">{{ block.settings.paragraph }}</div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "More Details",
    "class": "join-page more-details",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Detail",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "paragraph",
            "label": "Paragraph"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}
