<div {% include 'image', _image: section.settings.image, size: '2048', sizes: '600,1024,2048', background: true, inline: true, classes: 'page hero' %}>
  {% include 'image', _image: section.settings.image, size: '2048', sizes: '600,1024,2048', alt: page.title %}
</div>
<div class="page-width narrow">
  <h1 class="heading alt text-center">{{ page.title }}</h1>
  <div class="introduction rte flex wrap align-center">
    {{ section.settings.intro }}
    {% assign list = section.settings.ideal-list | replace: ', ', ',' | split: ',' %}
    <ul>
      {% for item in list %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
  </div>
</div>

{% schema %}
  {
    "name": "Raddish Classrooms: Intro",
    "class": "raddish-classrooms intro",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Hero Image"
      },
      {
        "type": "richtext",
        "id": "intro",
        "label": "Introductory Paragraph"
      },
      {
        "type": "text",
        "id": "ideal-list",
        "label": "Ideal For List (comma separated)",
        "info": "E.g. Item1,Item2,Item3"
      }
    ]
  }
{% endschema %}
