<div class="page-width narrow">
  <h2 class="subheading text-center">{{ section.settings.heading }}</h2>
  {{ section.settings.content }}

  <h3 class="subheading text-center">{{ section.settings.awards-heading }}</h3>
  {% assign awards = section.settings.awards-content | replace: ', ', ',' | split: ',' %}
  <p></p>{% for award in awards %}
    <div>{{ award }}</div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Raddish Classrooms: About",
    "class": "raddish-classrooms about alternate",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Paragraph"
      },
      {
        "type": "text",
        "id": "awards-heading",
        "label": "Awards Heading"
      },
      {
        "type": "textarea",
        "id": "awards-content",
        "label": "Awards List (comma separated)",
        "info": "E.g. Award 1,Award 2,Award 3"
      }
    ]
  }
{% endschema %}
