{%- assign _section = section.settings -%}
{%- assign section_active_tab = _section.active_tab | handle -%}

<section class="section-plans-alt">
	<div class="page-width">
		<div class="section-plans-alt__content">
			<nav class="nav-plans section-plans-alt__nav">
				<ul>
					{%- for block in section.blocks -%}
					{%- assign title_handle = block.settings.title | handle -%}

					{% if block.settings.title != blank or block.settings.price != blank or block.settings.period != blank or block.settings.text != blank or block.settings.btn_text != blank or block.settings.btn_url != blank %}
					<li {% if title_handle == section_active_tab %}class="is-current"{% endif %}>
						<a href="#plan-{{- forloop.index -}}">{{- block.settings.title -}}</a>
					</li>
					{%- endif -%}
					{%- endfor -%}
				</ul>
			</nav><!-- /.nav-plans -->

			<div class="plans">
				{%- for block in section.blocks -%}
				{%- render 'plan', plan: block, modificator: 'plan--alt', index: forloop.index, active_tab: section_active_tab -%}
				{%- endfor -%}
			</div><!-- /.plans -->

			{%- if _section.content != blank -%}
			<div class="section-plans-alt__entry">
				{{- _section.content -}}
			</div><!-- /.section-plans-alt__entry -->
			{%- endif -%}
		</div><!-- /.section-plans-alt__content -->
	</div><!-- /.page-width -->
</section><!-- /.section-plans-alt -->

{% schema %}
{
  "name": "Plans Coupon",
  "class": "shopify-section-plans",
  "settings": [
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "active_tab",
      "label": "Enter title of active tab on mobile",
      "default": "6 month"
    }
  ],
  "max_blocks": 9999,
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "price",
          "label": "Price"
        },
        {
          "type": "text",
          "id": "period",
          "label": "Period",
          "info": "Example: 'per month'"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button - Text"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button - URL"
        }
      ]
    }
  ]
}
{% endschema %}
