{% assign _section = section.settings %}
{% assign _blocks = section.blocks %}
{%- assign product_tags = product.tags | join: '|' | prepend: '|' | append: '|' -%}

<div class="section-product-details">
  <div class="section__inner">
    <h3 class="section__title">
      {{- 'products.product.more-details' | t  -}}
    </h3><!-- /.section__title -->

    <div class="section__content">
      {%- if product.description contains '----' -%}
        <div class="section__aside">
          <div class="section__entry">
            {{- product.description | split: '----' | last | strip -}}
          </div><!-- /.section__entry -->
        </div><!-- /.section__aside -->
      {%- endif -%}

      <div class="section__main">
        {%- if _blocks.size > 0 -%}
          <div class="section__features">
            {%- for block in _blocks -%}
              {%- assign _block = block.settings -%}

              {% if block.type == 'feature' %}
                {%- assign _tag = _block.exclude_from | prepend: '|' | append: '|' -%}

                {%- unless product_tags contains _tag -%}
                  {% render 'product-feature', _block: _block %}
                {%- endunless -%}
              {%- elsif block.type == 'custom-feature' -%}
                {%- assign _tag = _block.tag | prepend: '|' | append: '|' -%}

                {% if product_tags contains _tag %}
                  {% render 'product-feature', _block: _block %}
                {% endif %}
              {%- endif -%}
            {%- endfor -%}
          </div><!-- /.section__features -->
        {%- endif -%}

        {% if _section.show_share_buttons %}
          {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
        {% endif %}
      </div><!-- /.section__main -->
    </div><!-- /.section__content -->
  </div><!-- /.section__inner -->
</div><!-- /.section-product-details -->

{% schema %}
{
  "name": "Product details",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social sharing buttons",
      "default": true
    }
  ],
  "max_blocks": 9999,
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "text",
          "id": "exclude_from",
          "label": "Exclude products with tag:"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon",
          "info": "150x150px image size recommended"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    },
    {
      "type": "custom-feature",
      "name": "Custom Feature",
      "settings": [
        {
          "type": "text",
          "id": "tag",
          "label": "show on products with tag:"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon",
          "info": "150x150px image size recommended"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ]
}
{% endschema %}
