{% if content_for_header contains 'cdn.reelup.io' %}
  <div class="reelUp_playlist_slider_static"></div>
{% else %}
  {% liquid
        assign pageType = null
        assign pageHandle = '/'
        assign playlists = shop.metafields.reelUp.playlists.value | sort: 'priority'
        assign designData = shop.metafields.reelUp.design.value
        if template.name == 'product'
        assign pageType = 'product_page'
        assign pageHandle = product.handle | prepend: "/products/"
        elsif template.name == 'collection'
        assign pageType = 'collection_page'
        assign pageHandle = collection.handle | prepend: "/collections/"
        elsif template.name == 'cart'
        assign pageType = 'cart_page'
        assign pageHandle = '/cart'
        elsif template.name == 'index'
        assign pageType = 'home_page'
        elsif template.name == 'article'
        assign pageType = 'blog_page'
        assign pageHandle = article.handle
        elsif template.name == 'blog'
        assign pageType = 'blog_page'
        assign pageHandle = blog.handle
        elsif template.name == 'page'
        assign pageHandle = page.handle | prepend: "/pages/"
        endif
        assign playlistFound = false
    %}
  {% assign staticId = section.settings.playlist_id %}
  {% if staticId != "" %}
    {% assign staticId = section.settings.playlist_id | split: "_" | last | times: 1 %}

    {% for playlist in playlists %}
      {% if staticId != "" and playlist.id == staticId %}
        {% assign playlistFound = playlist %}
      {% endif %}
    {% endfor %}
  {% else %}
    {% for playlist in playlists %}
      {% assign productPageChecked = false %}
      {% if playlistFound == false %}
        {% if pageType == "product_page" and playlist.visibility contains "product_page" %}
          {% assign productPageChecked = true %}
          {% assign collectionIds = product.collections | map: 'id' %}
          {% assign inCollection = "" | split: ", " %}
          {% assign foundSpecificProduct = "" | split: ", " %}
          {% if playlist.targetProductsType == "specific_collections" %}
            {% for collectionId in collectionIds %}
              {% if inCollection.size == 0 %}
                {% assign inCollection = playlist.selections | where: 'collection_id', collectionId %}
              {% endif %}
            {% endfor %}
          {% elsif playlist.targetProductsType == "specific_products" %}
            {% assign foundSpecificProduct = playlist.selections | where: 'product_id', product.id %}
          {% endif %}
          {% if playlist.targetProductsType == "all_products" or inCollection.size != 0 or foundSpecificProduct.size != 0 %}
            {% assign playlistFound = playlist %}
          {% endif %}
        {% elsif pageType == "collection_page" and playlist.visibility contains "collection_page" and collection.id != null %}
          {% if playlist.target_collection_pages == "specific_collection_pages" %}
            {% assign foundSpecificCollection = playlist.specific_collection_pages | where: 'collection_id', collection.id %}
          {% endif %}
          {% if playlist.target_collection_pages == "all_collections" or foundSpecificCollection.size != 0 %}
            {% assign playlistFound = playlist %}
          {% endif %}
        {% else %}
          {% assign inSpecificPage = "blank" %}
          {% if playlist.visibility contains "specific_page" %}
            {% assign specificPages = playlist.custom_page_url | split: "," %}
            {% for specificPage in specificPages %}
              {% assign trimmedSpecificPage = specificPage | strip %}
              {% if trimmedSpecificPage == pageHandle %}
                {% assign inSpecificPage = trimmedSpecificPage %}
              {% endif %}
            {% endfor %}
          {% endif %}
          {% if productPageChecked == false %}
            {% if inSpecificPage != "blank" or playlist.visibility contains pageType and pageType != "collection_page" %}
              {% assign playlistFound = playlist %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if playlistFound %}
    {% if playlistFound.type == "carousel" %}
      {% render 'playlist_carousel' | playlistData: playlistFound | debuggingScript: section.settings.debugging_script %}
    {% elsif playlistFound.type == "stacked" %}
      {% render 'playlist_stacked_carousel' | playlistData: playlistFound | debuggingScript: section.settings.debugging_script %}
    {% else %}
      {% render 'playlist_grid' | playlistData: playlistFound | debuggingScript: section.settings.debugging_script %}
    {% endif %}
  {% endif %}
{% endif %}
{% schema %}
        {
          "name": "ReelUp Playlist",
          "settings": [
            {
              "type": "text",
              "id": "playlist_id",
              "label": "Playlist Id: (optional)"
            },
            {
                "type": "textarea",
                "id": "debugging_script",
                "label": "Debugging Script: (For Developers)"
            }
          ],
          "presets": [
              {
                "name": "ReelUp Playlist",
                "category": "Video"
              }
            ]
        }
        {% endschema %}