{%- assign _section  = section.settings -%}

{% if _section.content != blank %}  
  <section class="section-referrals-content">
    <div class="page-width">
      <div class="section__content">
        {{ _section.content }}
      </div><!-- /.section__content -->
    </div><!-- /.page-width -->
  </section><!-- /.section-referrals-content -->
{% endif %}

{% schema %}
{
  "name": "Content",
  "settings": [
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    }
  ]
}
{% endschema %}