{% assign _section = section.settings %}

<section class="section-recommendations">
  <div class="shell">
    {% if _section.title != blank %}
      <h3 class="section__title">{{- _section.title -}}</h3><!-- /.section__title -->
    {% endif %}

    <div
     class="js-product-recommendations section__content slider-alt slider-collection-global"
     data-base-url="{{ routes.product_recommendations_url }}"
     data-product-id="{{ product.id }}"
     data-limit="4"
   >
     {%- if recommendations.products_count > 0 -%}
       {%- for _product in recommendations.products -%}
          {% if _product.tags contains "OOS"  or _product.tags contains "Hidden" or _product.tags contains "hidden" %}
            {% continue %}
          {% endif %}
          <div class="slider__slide">
            {%- render 'product-item-alt' with _product as _product, class: 'product-item-alt--collection' -%}
          </div><!-- /.slider__slide -->
       {%- endfor -%}
     {%- endif -%}
   </div>
  </div><!-- /.shell -->
</section><!-- /.section-recommendations -->

{% schema %}
{
  "name": "Related products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ]
}
{% endschema %}
