{%- assign _section = section.settings -%}
{%- assign _blocks = section.blocks -%}

{% if _blocks.size > 0 and _section.content != blank %}
  <section class="section-images-text">
    <div class="shell section__shell">
      <div class="section__inner">
        <div class="section__images-holder">
          <div class="section__images">
            {% for block in _blocks %}
              {% assign _block = block.settings %}
              
              {% if _block.image != blank %}
                <div class="section__image">
                  <div
                  class="section__image-inner"
                  aria-label="{{- _block.image.alt | escape -}}"
                  role="img"
                  style="background-image: url({{- _block.image | img_url: '700x' -}});"
                  >
                  </div><!-- /.section__image-inner -->
                </div><!-- /.section__image -->
              {% endif %}
            {% endfor %}
          </div><!-- /.section__images -->
        </div><!-- /.section__images-holder -->

        <div class="section__content">
          <div class="section__entry">
            {{- _section.content -}}
          </div><!-- /.section__entry -->
        </div><!-- /.section__content -->
      </div><!-- /.section__inner -->
    </div><!-- /.shell -->
  </section><!-- /.section-images-text -->
{% endif %}

{% schema %}
{
  "name": "Section Images Text",
  "settings": [
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}