{% if section.settings.bottom_buttom_url != blank %}
<div class="sticky-button-inner-container {% unless section.settings.show_mobile %} hidden-xs {% endunless %}{% unless section.settings.show_desktop %} hidden-sm hidden-md hidden-lg{% endunless %}">
  <div class="sticky-button">
    <a href="{{section.settings.bottom_buttom_url}}" class="btn">{{section.settings.bottom_buttom_label}}</a>
  </div>
</div>
{%- comment -%}
{% unless section.settings.show_mobile %} hidden-xs hidden-sm{% endunless %}{% unless section.settings.show_desktop %} hidden-md hidden-lg{% endunless %}
{%- endcomment -%}

<script>
  
</script>

<style>
  div#shopify-section-template--15668455604399__165624294026e66c70 {}
  .sticky-button-inner-container {
    background-color: white;
  }
  .sticky-button-container {
      background: white;
      padding: 0.5rem 1rem;
      position: sticky;
      top: calc(100% - 63px);
      width: 100%;
      z-index: 200000;
  }
  .sticky-button-container + .shopify-section {
      margin-top: -63px;
  }
  .sticky-button a {
      width: 100%;
      font-size: 16px;
      padding: 1.5rem 0 !important;
  }
  #MainContent {
    /* margin-bottom: 4rem; */
  }
  .shopify-section:last-child {
    padding-bottom: 8rem !important;
  }
  {% unless section.settings.show_desktop %}
  @media screen and (min-width: 750px) {
    .sticky-button-container + .shopify-section {
        margin-top: 0;
    }
    .sticky-button-container {
      padding: 0;
    }
  }
  {% endunless %}
</style>
{% endif %}


{% schema %}
{
  "name": "Sticky Button",
  "class": "sticky-button-container",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_mobile",
      "label": "Show Mobile",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_desktop",
      "label": "Show Desktop",
      "default": true
    },
    {
      "type": "url",
      "id": "bottom_buttom_url",
      "label": "Bottom Button Url"
    },
    {
      "type": "text",
      "id": "bottom_buttom_label",
      "label": "Bottom Button Label"
    }
  ],
  "presets": [
    {
      "name": "Sticky Button",
      "category": "Landing"
    }
  ]
}
{% endschema %}