<div class="top-sticky-bar" style="background: {{section.settings.background}}">
    {{section.settings.title}}
</div>
  
  <style>
    .top-sticky-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: pink;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;
        color: white;
        letter-spacing: 0.5px;
        font-weight: 800;
        z-index: 20000;
        padding: 5px 10px;
    }
    @media screen and (max-width: 600px) {
      .top-sticky-bar {
        font-size: 16px;
      }
    }
  </style>
  {% schema %}
    {
      "name": "Top Sticky Bar",
      "class": "top-sticky-bar",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background"
        }
      ],
      "presets": [
        {
          "name": "Top Sticky Bar",
          "category": "Top Sticky Bar"
        }
      ]
    }
  {% endschema %}