<div class="trusted-header">Trusted by 10,000+ Businesses and Fans</div>

<div class="trusted-slider">
  <div class="trusted-track">

    <!-- LOGO LOOP (can be duplicated for infinite scrolling) -->
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/logo-wb.png?v=1762508456" alt="WB" />
    </div>
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/logo-lego.png?v=1762508456" alt="Lego" />
    </div>
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/logo-disney.png?v=1762508456" alt="Disney" />
    </div>
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/logo-netflix.png?v=1762508456" alt="Netflix" />
    </div>
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/logo-spotify.png?v=1762508456" alt="Spotify" />
    </div>
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/logo-nbc.png?v=1762508456" alt="NBC" />
    </div>
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/logo-ford.png?v=1762508456" alt="Ford" />
    </div>
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/logo-cadillac.png?v=1762508456" alt="Cadillac" />
    </div>
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/MD.png?v=1762952775" alt="McDonald" />
    </div>
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/Lakers.png?v=1762790976" alt="Lakers" />
    </div>
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/Hard_Rock.png?v=1762952775" alt="HR_Cafe" />
    </div>
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/Fox.png?v=1762952775" alt="FSports" />
    </div>
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/Dove.png?v=1762790976" alt="Dove" />
    </div>
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/DHL.png?v=1762790977" alt="DHL" />
    </div>

    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/logo-wb.png?v=1762508456" alt="WB" />
    </div>
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/logo-lego.png?v=1762508456" alt="Lego" />
    </div>
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/logo-disney.png?v=1762508456" alt="Disney" />
    </div>
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/logo-netflix.png?v=1762508456" alt="Netflix" />
    </div>
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/logo-spotify.png?v=1762508456" alt="Spotify" />
    </div>
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/logo-nbc.png?v=1762508456" alt="NBC" />
    </div>
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/logo-ford.png?v=1762508456" alt="Ford" />
    </div>
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/logo-cadillac.png?v=1762508456" alt="Cadillac" />
    </div>
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/MD.png?v=1762952775" alt="McDonald" />
    </div>
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/Lakers.png?v=1762790976" alt="Lakers" />
    </div>
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/Hard_Rock.png?v=1762952775" alt="HR_Cafe" />
    </div>
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/Fox.png?v=1762952775" alt="FSports" />
    </div>
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/Dove.png?v=1762790976" alt="Dove" />
    </div>
    <div class="manyImg_item">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0766/1840/0065/files/DHL.png?v=1762790977" alt="DHL" />
    </div>

  </div>
</div>


{% style %}
.trusted-header {
  margin-top: 20px;
  padding: 30px 0; 
  text-align: center;
  font-size: 26px;
  font-weight: 600;
}

.trusted-slider {
  overflow: hidden;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.trusted-track {
  display: flex;
  width: max-content;
  animation: scroll-left 20s linear infinite;
}

.manyImg_item {
  padding: 0 40px;
  display: flex;
  align-items: center;
}

.manyImg_item img {
  height: 100px;    /* Adjust logo size */
  width: auto;
  object-fit: contain;
  opacity: 0.9;
  transition: opacity 0.2s;
}

.manyImg_item img:hover {
  opacity: 1;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 768px) {
  .trusted-header {
    font-size: 20px;
    margin-top: 0;
  }

  .manyImg_item {
    padding: 0 20px;
  }

  .manyImg_item img {
    height: 70px;
  }
}

{% endstyle %}

{% schema %}
  {
    "name": "Trusted By Section",
    "presets": [
      {
        "name": "Trusted By Section",
      }
    ]
  }
{% endschema %}