html {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 140px;
}

.product__save {
  text-decoration: line-through;
  font-family: Avenir,sans-serif;
  color: #919191 !important;
}

.product div.product__price span.product__save,
.collection__item div.product__price span.product__save {
  font-weight: bold;
  font-size: 18px;
}

.cart-item__container .cart-item__discounted-prices.cart-item__price-inline {
  display: flex;
  margin: 0;
  align-items: center;
}

.cart-item__container .cart-item__discounted-prices.cart-item__price-inline dd,
.cart-item__container .cart-item__discounted-prices.cart-item__price-inline dd s {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
}

.cart-item__container .cart-item__discounted-prices.cart-item__price-inline .price--end:not(.cart-item__old-price) {
  color: #f3576b;
  margin-left: 6px;
  white-space: nowrap;
}

.cart-item__container .cart-item__discounted-prices.cart-item__price-inline .cart-item__old-price {
  color: #919191 !important;
  opacity: 1;
}

.megamenu {
  left: auto;
  width: auto;
  background: white;
  height: auto;
  min-height: 0;
}

a.site-nav__link {}

.megamenu .megamenu__links>li>a {
  padding-left: 22px;
  padding-right: 22px;
}

.megamenu .megamenu__title {
  display: none;
}

ul.megamenu__links {}

ul.megamenu__links {}

.megamenu .megamenu__links {
  padding: 15px 0;
  width: auto;
}

li {}

.megamenu .megamenu__links>li {
  margin-bottom: 0;
  margin-top: 8px;
  color: #4d4d4d;
  font-weight: 700!important;
}

.megamenu {
  left: auto;
  width: auto;
  background: white;
  height: auto;
  min-height: 0;
  min-width: auto;
  transform: translateX(-22px);
}

a.site-nav__link {}

.megamenu .megamenu__links>li>a {
  padding-left: 22px;
  font-family: "Avenir Heavy",sans-serif !important;
}

.megamenu .megamenu__title {
  display: none;
}

ul.megamenu__links {}

ul.megamenu__links {}

.megamenu .megamenu__links {
  padding: 15px 0;
}

.megamenu .megamenu__links>li {
    position: relative;
}

.megamenu .megamenu__content .megamenu__links {
    padding: 13px 0px;
}

.megamenu .megamenu__links>li {
  margin-bottom: 0;
  margin-top: 8px;
}

.megamenu .megamenu__content {
  margin-left: 0;
  background: white;
  left: 100%;
  top: -36px;
}

.megamenu .megamenu__cols {
  padding: 0;
}

.megamenu__col.megamenu__col--submenu {
  background: white;
  height: auto;
  overflow: auto;
  max-height: none;
  height: fit-content;
  box-shadow: 0 2px 4px #4d4d4d33;
  border: 1px solid rgba(77,77,77,.2);
}

.megamenu .megamenu__content .megamenu__links>li:last-child {
  margin-bottom: 7px;
}

div#shopify-section-header .site-nav__link--has-megamenu-submenu svg {
  transform: rotate(90deg) !important;
  top: -1px;
  position: relative;
  width: 10px;
  /* margin-left: 10px */
}
#raddish-scholarship .section-homeschooling-slider{
  padding: 6px 0 24px;
}

#raddish-scholarship .section-homeschooling-slider:not(.section-homeschooling-sponsors) .section__head {
  padding: 0;
}

#raddish-scholarship .list-recipes figure {
  height: auto !important;
}

@media screen and (max-width: 768px) {
  #raddish-scholarship .section-homeschooling-slider {
    padding-top: 0;
  }

  #raddish-scholarship section.section-homeschooling-sponsors {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  #raddish-scholarship .section-content .section__content .btn {
    margin: 10px auto 0;
    max-width: 343px;
  }
  #raddish-scholarship .section-homeschooling-slider .slick-dots {
    top: calc(100% + 13px);
  }
  #raddish-scholarship .section__description p {
    padding: 0 16px;
  }
}

.light-background {
  background-color: #E4F4F6;
}

.raddish-card {
  background: #FFFFFF;
  border: 0.875px solid rgba(77, 77, 77, 0.19971);
  box-shadow: 0px 2px 4px rgba(77, 77, 77, 0.201868);
  border-radius: 8px
}

.aspect-ratio-box {
  position: relative;
  display: block;
}

/* Create a pseudo element that uses padding-bottom to take up space */
.aspect-ratio-box::after {
  display: block;
  content: '';
  /* 1:1 aspect ratio */
  padding-bottom: 100%;
}

/* Image is positioned absolutely relative to the parent element */
.aspect-ratio-box img {
  /* Image should match parent box size */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.template-page .join-club h1{
  font-size: 20px;
  text-transform: none;
}

.join-club__content .bottom-buttons a {
  text-transform: none;
}
#shopify-section-header, #shopify-section-header.sticky, body, html {
  z-index: 90000;
}
#subscription-builder #shopify-section-header, #subscription-builder #shopify-section-header.sticky  {
  z-index: 90000;
}
@media screen and (min-width: 768px) {

  body[class*="page.club-landing"] .section-faqs div.section__inner {
    max-width: 1000px;
  }
  
  body[class*="page.club-landing"] .list-faq li {
    flex: 0 0 calc(33.333% - 40px);
    max-width: calc(33.333% - 40px);
    border-bottom: 1px solid rgba(77,77,77,.2);
  }
  
  body[class*="page.club-landing"] .join-club__club {
    max-width: 350px;
  }
  
  body[class*="page.club-landing"] .join-club__content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    max-width: 250px;
    margin: 10px auto;
  }
  
  body[class*="page.club-landing"] .join-club h1.h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px !important;
    line-height: 32px;
    text-align: center;
    color: #01BCBE;
    margin-top: 25px;
  }
}

#admin-bar-iframe {
  /* TODO remove before going live  */
  z-index: -1 !important;
}

.login-footer {
  text-align: center;
}

.login-footer p {
  margin-bottom: 0;
  margin-top: 5px;
}

.recover-container {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #f3576b;
}

.subscription-modal-open #shopify-section-header {
  z-index: 1 !important;
}

#step-4-note .ajax-cart-note__action-buttons {
  margin-top: 0;
}

.kit-wrapper + .kit-wrapper .kit-box {
  padding-bottom: 4rem;
}

#quickactions {
  display: flex;
}

#quickactions {
  display: flex;
}

#quickactions input.qa-margin-left[type="radio"] {
  margin-left: 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 1px solid black;
  line-height: 0;
  -webkit-appearance: auto;
  accent-color: #f3576b;
}

#quickactions input.qa-margin-left[type="radio"] {
  margin-left: 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 1px solid black;
  line-height: 0;
  -webkit-appearance: auto;
  min-height: 26px;
  accent-color: #f3576b;
}

#quickactions h2 {
  font-family: KG HAPPY Solid,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #f3576b !important;
  margin: 0 0 16px;
  text-transform: none !important;
  /* text-transform: none; */
  letter-spacing: 1px;
}

#quickactions input.qa-margin-left[type="radio"] + label {
  font-weight: bold;
}

#qa-section-verification-code-prompt > div {
  font-weight: bold;
}

#quickactions .qa-button {
  background-color: #f3576b !important;
  border-radius: 4px;
  text-transform: capitalize !important;
  font-weight: bold;
  letter-spacing: .03125em;
  font-weight: 600;
  padding-top: 12px 24px !important;
}

section#qa-section-verification-code-input h2 + div {
  font-size: 0;
}

section#qa-section-verification-code-input h2 + div:after {
  content: 'Check your email or phone for the six-digit code.';
  font-size: 16px;
  font-weight: 700;
}

#quickactions .qa-margin-bottom b {
  font-weight: 500;
}

.collection__item.collection__item--row {
  flex: 0 0 100%;
}

.collection__item.collection__item--row  .product__content {
  flex-direction: row;
  align-items: center;
  padding: 0-0;
  margin-top: 0;
  border-top: none;
}

.collection__item.collection__item--row .product__content .product__title {
  margin-bottom: 0;
  width: 25%;
  padding: 0 10px 0 0;
}

.product-item-alt.product-item-row {
  padding: 1rem 1.25rem;
}

.collection__item.collection__item--row .product__content > .product-form {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection__item.collection__item--row .product__kit {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.collection__item.collection__item--row .product__date {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 10px;
  font-size: 14px;
  font-family: 'Avenir Book';
}

.product__recipe {
  font-size: 14px;
}

.collection__item.collection__item--row.collection__item--header {
  padding-top: 0;
  padding-bottom: 0;
}

.collection__item.collection__item--row.collection__item--header .product-item-alt {
  border: none;
  box-shadow: none;
  padding-bottom: 0;
}

.collection__item.collection__item--row.collection__item--header .product-item-alt .h5 {
  margin-bottom: 0
}

@media screen and (max-width: 480px) {
  .collection__item.collection__item--row.collection__item--header {
    display: none;
  }
  .collection__item.collection__item--row .product__content> .product-form {
    width: 50%;
    justify-content: flex-end;
  }
  .collection__item.collection__item--row .product__content {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .collection__item.collection__item--row .product__kit { 
    width: 100%;
  }
  .collection__item.collection__item--row .product__date {
    width: 100%;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  .collection__item.collection__item--row .product__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .collection__item.collection__item--row .product__content .product__title {
    width: 100%;
    text-align: center;
    padding: 0;
    margin-bottom: 1rem;
  }

  .collection__item.collection__item--row .product__content>.product-form {
    width: 100%;
    justify-content: center;
    padding: 0;
  }

  .collection__item.collection__item--row .product__kit {
    order: -5;
  }

  .collection__item.collection__item--row .product__date {
    order: -1;
    margin-bottom: 1rem;
    padding-top: 0;
  }
}

.collection-addtional-description p {
  margin: 5px 0;
}

.collection-addtional-description {
  text-align: center;
  margin-bottom: 30px;
}

h1.rc-login--header-title,
.rc-enter-code-header {
  font-family: 'KGHAPPYSolid';
  letter-spacing: 2px;
  color: #f3576b;
  font-size: 32px;
  max-width: calc(100% - 8rem);
  display: block;
  margin-bottom: 1rem;
}

h1.rc-login--header-title:after {
  content: "Must have a Raddish membership to receive a code. Note: Usage of Raddish+ requires a standard email and password login, and this one login code will not work for that.";
  display: block;
  font-family: 'Avenir';
  color: #58595b;
  letter-spacing: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25;
  margin-top: 2rem;
}

header.rc-login--header {
  display: none;
}

button.rc-login-form-button {
  background: #f3576b !important;
  font-family: 'Avenir';
  letter-spacing: 0.25px;
}

.rc-enter-code-text, .rc-enter-code-sms-info {
  font-family: 'Avenir';
}

section.rc-login {
  max-width: 460px;
}

.rc-login-links {
  margin: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
}

.rc-login-links a,
.rc-login-links span {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25;
  color: #f3576b;
}
.rc-login-links a:hover {
  text-decoration: underline;
}
.rc-login-links span {
  padding: 0 6px;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100% !important;
  height: 100px !important;
  z-index: 2;
}
.wave.wave--top {
  top: 0;
  bottom: auto;
  transform: scale(-1);
}
.wave-vertical {
  position: absolute;
  left: calc(50% - 20px);
  top: 0;
  height: 100%;
  /* transform: translateX(-50%); */
}

.template--page-dtc-landing .button-section.section__inner {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.template--page-dtc-landing .button-section.section__inner .btn {
  width: 100%;
  display: block;
  max-width: 310px;
}

.template--page-dtc-landing .hero-marketing {
  margin: 3rem 0;
}

@media screen and (max-width: 749px) {
  .template--page-dtc-landing  .section-images {
    display: none;
  }
}
@media screen and (min-width: 750px) {
  .hidden-desktop {
    display: none !important;
  }
}

@media screen and (max-width: 749px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 876px) {
  .header-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 875px) {
  .header-desktop {
    display: none !important;
  }
}


/* .dtc-landing-2 .banner-3-columns-section {
  display: none;
}

body:not(.dtc-landing-2) .banner-3-columns-section--alt {
  display: none 
}
@media screen and (max-width: 749px) {
  .dtc-landing-2 .sticky-button-container ~ .banner-3-columns-section--alt {
    margin-top: -63px;
  }
}

.dtc-landing-2.template--page-dtc-landing #shopify-section-header {
  display: none;
}

.dtc-landing-2.template--page-dtc-landing #dynamic-react-root ~ div > iframe {
  display: none;
}
 */

.dtc-landing-2.template--page-dtc-landing-2 #shopify-section-header,
.dtc-landing.template--page-dtc-landing #shopify-section-header,
.dtc-landing-2.template--page-dtc-landing #shopify-section-header, 
.dtc-landing-2.template--page-dtc-landing-3 #shopify-section-header,
.dtc-landing-2.template--page-dtc-landing #shopify-section-header,
.template--page-about-raddish-plus #shopify-section-header,
#why-raddish #shopify-section-header
{
  display: none;
}


@media screen and (max-width: 768px) {
  .dtc-landing-2.template--page-dtc-landing #dynamic-react-root ~ div > button.needsclick:first-child  {
    top: calc(100% - 130px) !important;
    /* left: 0 !important; */
    /* right: 100% !important; */
    z-index: 90000000000 !important;
  }
  .dtc-landing-2.template--page-dtc-landing #dynamic-react-root ~ div > button.needsclick:first-child > div {
    /* animation: none !important; */
  }
}

.additional-content-modal .modal-header {
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.additional-content-modal.open {
  overflow-x: hidden;
}

div#subscription-builder-widget .additional-content-modal .modal__close {
  position: fixed;
  z-index: 1001;
}

#step-4-buttons ~ .bottom-content {
  margin-top: 0;
}

#step-4-summary .bottom-content {
  text-align: left;
  text-decoration: underline;
  font-size: 14px;
  text-align: left !important;
}

#step-4-summary .bottom-content a {
  color: currentColor;
  font-style: italic;
}

.template-page.template--page-dtc-template-different-abilities .join-club h1 {
  font-size: 32px;
}

@media screen and (max-width: 768px) {
  .template-page.template--page-dtc-template-different-abilities .join-club h1 {
    font-size: 18px;
  }
}

.select-card__right {
    position: relative;
}

.select-card__right .description input[type=checkbox] {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% - 110px);
    cursor: pointer;
    z-index: 2;
}

.subscription-step--2 .select-card__right {
  position: relative;
}
.subscription-step--2 .select-card__right > input[type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}

.modal-content.modal-content--gift-options {
  padding-top: 7.5rem !important;
}

.template--page-advertorial-lp,
.template--page-why-raddish-gift-evergreen,
.template--page-why-raddish-plus-online-cooking-club {
  padding: 64px 0;
}

.template--page-advertorial-lp img,
.template--page-why-raddish-gift-evergreen img,
.template--page-why-raddish-plus-online-cooking-club img {
  width: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.template--page-advertorial-lp #MainContent .shopify-section:not(.fixed-right),
.template--page-why-raddish-gift-evergreen #MainContent .shopify-section:not(.fixed-right),
.template--page-why-raddish-plus-online-cooking-club #MainContent .shopify-section:not(.fixed-right){
  max-width: calc(100% - 370px);
  margin-left: 0;
}

@media screen and (max-width: 875px) {
  .template--page-advertorial-lp #MainContent .shopify-section:not(.fixed-right),
  .template--page-why-raddish-gift-evergreen #MainContent .shopify-section:not(.fixed-right),
  .template--page-why-raddish-plus-online-cooking-club #MainContent .shopify-section:not(.fixed-right) {
    max-width: 100%;
  }
}

.template--page-advertorial-lp main#MainContent,
.template--page-why-raddish-gift-evergreen main#MainContent,
.template--page-why-raddish-plus-online-cooking-club main#MainContent{
  max-width: 1140px;
  margin: 0 auto;
}

.template--page-advertorial-lp .shopify-section:not(.page-header),
.template--page-why-raddish-gift-evergreen .shopify-section:not(.page-header),
.template--page-why-raddish-plus-online-cooking-club .shopify-section:not(.page-header) {
  padding: 0 10px;
}

.template--page-advertorial-lp #shopify-section-header,
.template--page-why-raddish-gift-evergreen #shopify-section-header,
.template--page-why-raddish-plus-online-cooking-club #shopify-section-header {
  display: none;
}

.template--page-advertorial-lp main#MainContent,
.template--page-why-raddish-gift-evergreen main#MainContent,
.template--page-why-raddish-plus-online-cooking-club main#MainContent {
  overflow: visible;
  position: relative;
  padding-top: 3rem;
}

.featured-fixed-block {
}

@media screen and (max-width: 875px) {
  h1.page-title {
      font-size: 30px;
      line-height: 34px;
      padding-bottom: 18px;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 10px;
      margin-left: 14px;
      margin-right: 14px;
  }

  body.template--page-advertorial-lp .shopify-section:not(.page-header),
  body.template--page-why-raddish-gift-evergreen .shopify-section:not(.page-header),
  body.template--page-why-raddish-plus-online-cooking-club .shopify-section:not(.page-header) {
      padding: 0 36px;
  }

  div h2.section-title, div .featured-in-block h2 {
      font-size: 30px;
      line-height: 38px;
  }

}


@media screen and (max-width: 600px) {
  div.featured-in-block__blocks {
    grid-template-columns: 1fr 1fr;
  }
  .widget-autorenew-copy {
    text-align: center;
  }
}

body.header-hidden #shopify-section-header {
  display: none;
}


ul.list-faq .q-a:last-child, ul.list-faq .q-a:nth-last-child(2):nth-child(odd) {
  border-bottom: none;
}

div.slick-slide {
  height: auto;
}

body.subscription-modal-open .sticky-button-container { display: none; }

.widget-autorenew-copy {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#step-4-summary .cart-item--ajax {
  position: relative;
}

div.upsell-product--right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.upsell-pricing {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
}

.upsell-pricing .product__save {
  font-weight: 700;
}