#LeadFormsDemoBadge #persistent-badge {
	text-transform: none;
	font-weight: bold;
	background: #A9DD61;
	position: fixed;
	bottom: 15px;
	left: 15px;
	padding: 0px 10px;
	border-radius: 8px;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	transform: rotate(-6deg);
	font-weight: 700;
	animation-name: wiggle;
	animation-duration: 3s;
	z-index: 20;
	box-shadow: 1px 1px 5px rgba(0,0,0,.4);
	transition: left .2s;
  	height:50px;


}

@media (min-width: 768px) and (max-width: 1024px) {
   #LeadFormsDemoBadge #persistent-badge{
     bottom: 23px;
   }
}

#LeadFormsDemoBadge .wiggle {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes wiggle {
  0%, 20% {transform: rotate(-6deg);}
  5% {transform: rotate(2deg);}
  10% {transform: rotate(-8deg);}
  15% {transform: rotate(1deg);}
}

@-ms-keyframes wiggle {
  0%, 20% {transform: rotate(-6deg);}
  5% {transform: rotate(2deg);}
  10% {transform: rotate(-8deg);}
  15% {transform: rotate(1deg);}
}

@keyframes wiggle {
  0%, 20% {transform: rotate(-6deg);}
  5% {transform: rotate(2deg);}
  10% {transform: rotate(-8deg);}
  15% {transform: rotate(1deg);}
}

#LeadFormsDemoBadge .pulse {
  -webkit-animation-name: pulse;
  -ms-animation-name: pulse;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  0%, 20% {transform: scale(1) rotate(8deg);}
  5% {transform: scale(1.1) rotate(8deg);}
  10% {transform: scale(.9) rotate(8deg);}
  15% {transform: scale(1.05) rotate(8deg);}
}

@-ms-keyframes pulse {
  0%, 20% {transform: scale(1) rotate(8deg);}
  5% {transform: scale(1.1) rotate(8deg);}
  10% {transform: scale(.9) rotate(8deg);}
  15% {transform: scale(1.05) rotate(8deg);}
}

@keyframes pulse {
  0%, 20% {transform: scale(1) rotate(8deg);}
  5% {transform: scale(1.1) rotate(8deg);}
  10% {transform: scale(.9) rotate(8deg);}
  15% {transform: scale(1.05) rotate(8deg);}
}

#LeadFormsDemoBadge #persistent-badge .badge-copy {
	display: inline-block;
	/*width: 50px;*/
	text-align: center;
}

#LeadFormsDemoBadge #persistent-badge .badge-icon {
	display: inline-block;
	width: 20px;
	text-align: center;
    animation-name: pulse;
    animation-duration: 4s;
}
