.template-blog #MainContent,
.template-article #MainContent { padding-bottom: 30px; }
.template-blog .spacer,
.template-article .spacer { display: none; }

.template-blog .blog-content,
.template-article .blog-content {
  margin: 0 auto;
}

@media(max-width: 767px){
  .template-blog #MainContent,
  .template-article #MainContent {
    padding-top: 0;
  }
}

/* ------------------------------------------------------------ *\
  Blog
\* ------------------------------------------------------------ */

.section-blog { padding: 14px 0; background-color: #fff; }

.section-blog .section__head { }
.section-blog .section__title { text-transform: capitalize; margin-bottom: 6px; /*font-size: 40px;*/ }
.section-blog .section__head p { font-family: "Avenir", sans-serif; font-weight: 900; font-size: 18px; margin-top: 14px; }
.section-blog .blog-sidebar-item { width: 100%; max-width: 33.33%; padding: 14px 12px; }
/*.section-blog .blog-sidebar-item.search { max-width: 343px; }*/

.section-blog .section__body { }
.section-blog .section__body-head { width: 100%; margin-bottom: 34px; max-width: 1096px; margin-left: auto; margin-right: auto; }
.section-blog .section__body-content { width: 100%; }

.section-blog .section__actions { width: 100%; margin-top: 35px; }
.section-blog .section__actions .btn { border-width: 2px; padding: 14px 24px; }

@media(max-width: 1023px){
  .section-blog .blog-sidebar-item { padding: 5px 12px; height: 70px; }
  .section-blog .blog-sidebar-item.search { max-width: 66.66%; }
  .section-blog .section__body-head { margin-bottom: 20px; }
}

@media(max-width: 767px){
  .section-blog .blog-sidebar-item.search,
  .section-blog .blog-sidebar-item { max-width: 100%; padding-left: 0; padding-right: 0; height: auto; }

  .section-blog .section__title { font-size: 32px; margin: 6px 0 10px; }
  .section-blog .section__head p { margin-top: 9px; line-height: 1.45; }

  .section-blog .section__body { margin: 0 -5px; }
}

/* ------------------------------------------------------------ *\
  Section Article
\* ------------------------------------------------------------ */

.section-article { background: none; }
.section-article .section__head { margin-bottom: 17px; }
.section-article .section__head p { margin-top: 10px; }

.section-article .section__title { margin: 24px 0 6px; /*font-size: 32px;*/ letter-spacing: 0; }

.section-article .section__body-head { margin-bottom: 36px; }

.section-article .blog-content { }
.section-article .article-title { text-align: center; text-transform: none; }
.section-article .tags span { color: #4D4D4D; font-size: 18px; min-width: 111px; display: inline-block; font-family: "KGHappySolid",sans-serif; margin-right: 11px; text-transform: none; letter-spacing: 0; }
.section-article .article-footer { margin: 28px 0 0px; font-size: 18px; }
.section-article .article-footer .tags a:hover { color: #F3576B; }
/*.section-article .article-footer p,*/
.section-article hr { pointer-events: none; }

@media(max-width: 767px){
  .section-article .blog-content { font-size: 18px; }
  .section-article .article-footer { padding: 16px 0;  }
  .section-article .tags { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap; flex-wrap: wrap; -ms-align-items: center; align-items: center; justify-content: center; text-align: center; }

  .section-article .tags span {
    width: 100%;
    display: block; margin: 0 0 4px;
  }
}

/* ------------------------------------------------------------ *\
  Dropdown
\* ------------------------------------------------------------ */

.dropdown { position: relative; background-color: #fff; border-radius: 4px; width: 100%; font-family: 'KGHAPPYSolid';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
   }
.dropdown .dropdown__trigger { position: relative; }
.dropdown .dropdown__trigger span { width: 100%; display: block; font-size: 14px; color: #919191; z-index: 1; position: relative; padding: 0 50px 0 14px; text-transform: uppercase; width: 100%; height: 54px; line-height: 50px; border: 1px solid rgba(145, 145, 145, 0.15); border-radius: 4px; cursor: pointer; background-color: #fff; letter-spacing: 0.9px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
  -webkit-box-shadow: 0 2px 4px rgba(77, 77, 77, 0.15);
          box-shadow: 0 2px 4px rgba(77, 77, 77, 0.15); }
.dropdown .dropdown__trigger img { position: absolute; top: 50%; right: 16px; width: 20px; pointer-events: none; -webkit-transform-origin: center 0; -ms-transform-origin: center 0; transform-origin: center 0; z-index: 10;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
.dropdown .dropdown__trigger img.clear { pointer-events: auto; cursor: pointer; width: 17px; height: 20px; }
.dropdown form { border: 1px solid rgba(145, 145, 145, 0.15); border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px rgba(77, 77, 77, 0.15);
          box-shadow: 0 2px 4px rgba(77, 77, 77, 0.15);
}

.dropdown:not(.dropdown--selected) .view-all,
.dropdown:not(.dropdown--selected) .clear { display: none; }
.dropdown.dropdown--selected .ico-arrow { display: none; }
.dropdown.dropdown--selected.dropdown-single-custom .ico-arrow { display: block; }
.dropdown.dropdown--selected .view-all { display: block; }
.dropdown.dropdown--selected .dropdown__trigger span { color: #01BCBE; }
.dropdown form input { border: none; padding: 8px 0 10px 24px; font-family: "KGHappySolid", sans-serif; font-size: 14px; letter-spacing: 0.9px; border-radius: 4px; color: #919191; line-height: 22px; height: 52px; }

.dropdown form input:focus { outline: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; }
.dropdown form input::-webkit-input-placeholder { text-transform: uppercase; color: rgba(145, 145, 145, 1); }
.dropdown form input::-moz-placeholder { text-transform: uppercase; color: rgba(145, 145, 145, 1); }
.dropdown form input:-moz-placeholder { text-transform: uppercase; color: rgba(145, 145, 145, 1); }
.dropdown form input:-ms-input-placeholder { text-transform: uppercase; color: rgba(145, 145, 145, 1); }
.dropdown form input:focus::-webkit-input-placeholder { color: rgba(145, 145, 145, .5) !important; }
.dropdown form input:focus::-moz-placeholder { color: rgba(145, 145, 145, .5) !important; }
.dropdown form input:focus:-moz-placeholder { color: rgba(145, 145, 145, .5) !important; }
.dropdown form input:focus:-ms-input-placeholder { color: rgba(145, 145, 145, .5) !important; }

.dropdown form .btn { height: 54px; margin: -1px -1px -1px 0; padding: 0; line-height: 54px; text-align: center; border-radius: 0 4px 4px 0; min-width: 58px; color: #fff !important; }
.dropdown form .btn svg { width: 26px; height: 26px; margin-top: -2px; }
.dropdown form #mce-EMAIL { width: calc(100% - 85px); }
.dropdown form #mc-embedded-subscribe { width: 85px; }
.dropdown.focused form { border-color: #F3576B; }

.dropdown .dropdown__inner { display: none; position: absolute; top: calc(100% - 1px); left: 0px; right: 0px; background-color: #fff; z-index: 1; border: 1px solid rgba(145, 145, 145, 0.15); border-radius: 0 0 4px 4px; padding: 0 0 10px; border-top: 0;
  -webkit-box-shadow: 0 2px 4px rgba(77, 77, 77, 0.15);
          box-shadow: 0 2px 4px rgba(77, 77, 77, 0.15); }
.dropdown .dropdown__inner ul { list-style: none; margin: 0; }
.dropdown .dropdown__inner ul li { padding: 0; margin: 0; }
.dropdown .dropdown__inner ul li:hover a,
.dropdown .dropdown__inner ul li.current a { color: #f3576b; }
.dropdown .dropdown__inner ul li:before { display: none; }
.dropdown .dropdown__inner ul a { display: block; font-size: 14px; letter-spacing: 1px; padding: 10px 20px 10px 24px; color: #919191; text-decoration: none; text-transform: uppercase; line-height: 1; }

.dropdown.expanded .dropdown__inner { }
.dropdown.expanded .dropdown__trigger img {
  -webkit-transform: rotate(180deg) translateY(-50%);
      -ms-transform: rotate(180deg) translateY(-50%);
          transform: rotate(180deg) translateY(-50%);
}
.dropdown.expanded .dropdown__trigger { border-radius: 4px 4px 0 0; }

@media(min-width: 768px){
  .ios .dropdown .dropdown__trigger span { padding-top: 2px; }
  .ios .dropdown form input { padding-top: 13px; padding-bottom: 10px; line-height: 22px; }
  .ios .dropdown form input::-webkit-input-placeholder { line-height: 22px !important; }
  .ios .dropdown form input::-moz-placeholder { line-height: 22px !important; }
  .ios .dropdown form input:-moz-placeholder { line-height: 22px !important; }
  .ios .dropdown form input:-ms-input-placeholder { line-height: 22px !important; }
}

@media(max-width: 767px){
  .dropdown { border: 1px solid rgba(145, 145, 145, 0.15); background-color: #fff; border-radius: 4px; height: auto;
    -webkit-box-shadow: 0 2px 4px rgba(77, 77, 77, 0.15);
            box-shadow: 0 2px 4px rgba(77, 77, 77, 0.15);
  }
  .dropdown.focused { border-color: #F3576B; }
  .dropdown .dropdown__trigger span { padding: 14px 50px 13px 15px; border: none; height: 52px; line-height: 22px;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .dropdown .dropdown__trigger img { right: 14px; }
  .dropdown form { height: 52px; }
  .dropdown form input { height: 51px; line-height: 22px; padding: 13px 0 12px 15px; }

  .dropdown form,
  .dropdown .dropdown__inner { position: relative; border: none; width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .dropdown form .btn { height: 54px; }

  .dropdown .dropdown__inner { padding: 0; border-top: 1px solid rgba(145, 145, 145, 0.15); }
  .dropdown .dropdown__inner ul li a { padding: 10px 15px; color: #919191; }
}

/* ------------------------------------------------------------ *\
  Articles
\* ------------------------------------------------------------ */

.articles { margin: 0 auto; max-width: 1082px; }
.articles .article { color: #58595b; background-color: #edfafc; padding: 20px; margin-bottom: 30px; width: calc(25% - 10px); margin: 0 5px 10px;
    -moz-flex-direction: column;
     -ms-flex-direction: column;
      -o-flex-direction: column;
  -webkit-box-direction: normal;
         flex-direction: column;
     -webkit-box-orient: vertical; }
.articles .article > div { width: 100%; }
.articles .article h3 { color: #01bcbe; font-family: "KGHappySolid", sans-serif; font-size: 1.6rem; margin: -3px 0 14px;
  -webkit-transition: all .3s;
       -o-transition: all .3s;
          transition: all .3s; }
.articles .article picture { width: 100%;
  -webkit-transition: all .3s;
       -o-transition: all .3s;
          transition: all .3s; }
.articles .article picture img { width: 100%; }
.articles .article .rte { }
.articles .article .rte * { margin: 0; }

.articles .article:hover picture { opacity: 0.8; }
.articles .article:hover h3 { color: #f3576b; }

@media(max-width: 1023px){
  .articles .article { width: calc(50% - 10px); }
}

@media(max-width: 767px){
  .articles { margin: 0 -15px; background-color: #edfafc; padding: 10px 20px; }
  .articles .article { width: 100%; margin: 0 0 15px; background-color: #fff; }
  .articles .article + .article { margin-top: 15px; }
  .articles .article h3 { font-size: 20px; margin-top: 16px;}
  .articles .article .rte { font-size: 18px; }
}

/* ------------------------------------------------------------ *\
  Print
\* ------------------------------------------------------------ */

@media print {
  .section-blog .section__body-head,
  .section-blog .social-sharing,
  .section-blog .section__head,
  #shopify-section-pre-footer,
  #shopify-section-footer,
  #shopify-section-header {
    display: none;
  }

  .blog-content .rte a {
    color: inherit;
    text-decoration: none;
  }

  .template-blog #MainContent,
  .template-article #MainContent { background: none; }
}
