#shopify-section-ajax-cart {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  height: calc(100%);
  width: 100vw;
  visibility: hidden;
  transition: all .5s ease;
  z-index: 1000000;
  padding-bottom: env(safe-area-inset-bottom, 0);
}

body.ajax-cart-open > div > iframe {
  display: none;
}

ajax-cart {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#shopify-section-ajax-cart backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: opacity .5s ease;
}

.ajax-cart-open {
  overflow: hidden;
}

.ajax-cart-open #shopify-section-ajax-cart {
  visibility: visible;
}

.ajax-cart-open #shopify-section-ajax-cart backdrop {
  opacity: 0.3;
}

cart-drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  right: 0;
  width: 400px;
  max-width: 100vw;
  background: white;
  height: 100%;
  transform: translateX(100%);
  transition: all .5s ease;
  max-height: 100vh;
  overflow: hidden;
}

ajax-cart[open] cart-drawer {
  transform: translateX(0);
}

ajax-cart cart-items {
  padding: 2.5rem 2.2rem;
}

ajax-cart #main-cart-footer {
  padding: 0 3.5rem 0 2.2rem;
  width: 100%;
}

ajax-cart #main-cart-footer > div{
  border-top: 1px solid lightgrey;
  padding-top: 2.5rem;
}

ajax-cart cart-items {
  flex: 1;
  overflow: auto;
  position: relative;
  width: 100%;
}

ajax-cart .title-wrapper-with-link {
  margin: 0;
}

ajax-cart #main-cart-footer {
  /* flex: 0;
  width: 100%; */
}

ajax-cart .cart-item__media {
  height: 100%;
}

ajax-cart .cart-item__image {
  height: auto;
  object-fit: contain;
}

ajax-cart .cart-item cart-remove-button {
  margin: 0;
}

.cart-item.cart-item--ajax {
  display: grid;
  grid-template: repeat(1, auto)/100px 1fr 50px;
  gap: 1.5rem;
  border-top: 1px solid lightgrey;
  padding: 1rem 0;
}

.cart-item.cart-item--ajax:last-child {
  border-bottom: 1px solid lightgrey;
}

.cart-item--ajax .cart-item__details {
  width: auto;
}
#step-4-summary .cart-item--ajax .cart-item__details {
  padding-right: 30px;
}
.cart-item.cart-item--ajax .cart-item__quantity {
  padding-left: 0;
}

.cart-item.cart-item--ajax .cart-item__price-wrapper .price {
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
}

.cart-item.cart-item--ajax .cart-item__container--1 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 9rem;
}

.cart-item.cart-item--ajax .cart-item__container--2,
.cart-item.cart-item--ajax .cart-item__container--3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.cart-item.cart-item--ajax .cart-item__container--3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.cart-items.cart-items--ajax .cart-item__name,
.upsell-product__title {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.cart-items.cart-items--ajax .cart-item__name:hover {
  text-decoration: none !important;
  color:#f3576b;
}

.cart-items.cart-items--ajax .product-option {
  font-size: 10px;
  color:black;
}

.cart-items.cart-items--ajax .cart-item__actions a {
  border: none;
}

.cart-items.cart-items--ajax quantity-input.quantity {
  width: 9rem;
  height: 3.75rem;
  margin-top: 1rem;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}
.cart-items.cart-items--ajax quantity-input.quantity .x {
  display: none;
}
#step-4-summary .cart-items.cart-items--ajax quantity-input.quantity .x {
  display: block;
}
.cart-items.cart-items--ajax quantity-input.quantity .quantity__button {
  width: 3rem;
  font-size: 12px;
  border:none;
  background: none;
}

.cart-items.cart-items--ajax quantity-input.quantity .quantity__button svg {
  width: 13px;
  height: 13px;
  color: #f3576b;
  pointer-events: none;
}

.cart-items.cart-items--ajax quantity-input.quantity .quantity__button:disabled svg {
  color: lightgrey;
}

.cart-items.cart-items--ajax quantity-input.quantity .quantity__input {
  font-size: 1.5rem;
  padding: 0;
  line-height: 15px;
  border: none;
  min-height: auto;
}

.cart-items.cart-items--ajax .cart-item .loading-overlay {
  padding-top: 0;
}

.cart-items.cart-items--ajax .product-option+.product-option {
  margin-top: 0;
}

.cart-items.cart-items--ajax .cart-item__details>*+* {
  margin-top: 0.2rem;
}

.cart-items.cart-items--ajax #plan-change-button {
  min-width: auto;
  min-height: auto;
  border: none;
  background: none;
  text-decoration: underline;
  font-weight: 200;
  color: grey;
  margin-bottom: 10px;
}

.cart-items.cart-items--ajax cart-remove-button .button {
  min-width: auto;
  min-height: auto;
  text-decoration: underline;
  font-weight: 500;
  color: grey;
  margin-bottom: 10px;
}

#ajax-cart .cart__blocks .cart__footer>* {
  width: 100%;
}

#ajax-cart .cart__ctas {
  display: block;
  margin-top: 1.75rem !important;
}

#ajax-cart .totals,
.subscription-step--4 .totals {
  justify-content: space-between;
}

#ajax-cart .cart__footer {
  padding: 0;
}

#ajax-cart .totals > * {
  /* font-size: 1.2rem; */
}

#ajax-cart .cart__blocks>*+* {
  margin-top: .75rem;
}

#ajax-cart .title-wrapper-with-link .title {
  margin-top: 0;
  margin-bottom: 0;
}

#ajax-cart .title-wrapper-with-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

#ajax-cart .cart__items-count {
  font-size: 12px;
  line-height: 25px;
  color: #353535;
}

#ajax-cart .cart__items {
  padding-bottom: 0;
  border-bottom: none;
}

.cart__close {
  /* position: absolute;
  right: 0;
  top: 0;
  margin: 2.25rem 2.2rem;
  cursor: pointer;
  color: black;
  width: 1.6rem;
  height: 1.6rem; */
  position: absolute;
  right: 26px;
  top: 16px;
  cursor: pointer;
  color: #000;
  width: 0.6rem;
  height: 2.6rem;
  font-size: 25px;
  z-index: 20000000;
}

.cart__close .icon {
  width: 13px;
  height: 13px;
}

#ajax-cart .wishlist-button svg {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

#ajax-cart .cart-item__actions {
  display: flex;
}

#ajax-cart #plan-change-button {
  display: none;
}

.is-empty .cart__warnings a {
  width: 100%;
}

.is-empty .cart__empty-text {
  margin: 20rem 0 2rem;
}

.is-empty ~ #cart-upsells-container {
  display: none !important;
}

cart-items.is-empty .title-wrapper-with-link {
  display: none !important;
}

@media screen and (max-width: 990px) {
  ajax-cart #main-cart-footer {
    padding: 0 2.2rem 0;
  }

  ajax-cart cart-items {
    padding: 1rem 2rem;
  }

  #ajax-cart .title-wrapper-with-link {
    margin-bottom: 1.5rem;
  }

  .cart__close {
    /* margin: 1.5rem 2rem;
    width: 1.25rem;
    height: 1.25rem; */
    top: 4px;
  }

  .cart__close--mobile {
    top: 14px !important;
    display: block !important;
    z-index: 200000;
  }

  .cart__close--mobile {

  }

  #ajax-cart .title-wrapper-with-link {
    justify-content: center;
  }

  .title-wrapper-with-link .title {
    width: auto;
  }

  .cart__threshold-goal {
    text-align: center;
  }

  .cart-upsells__title {
    margin: 0.5rem 0;
  }
}

.ajax-cart-open .menu-drawer-container .icon-close {
  visibility: visible !important;
  opacity: 1 !important;
  transform: scale(.8) !important;
}

.ajax-cart-open .menu-drawer-container .icon-hamburger {
  visibility: hidden !important;
  opacity: 0 !important;
  transform: scale(.8) !important;
}

.cart__blocks {
  padding-bottom: 1rem;
  margin: 0;
}

/* Progress bar */
.cart__progress-bar {
  width: 100%;
  position: relative;
  height: 8px;
  background: #d3d3d347;
  margin-bottom: 2rem;
  margin-top: 1rem;
  overflow: hidden;
  border-radius: 4px;
}

div#cart-threshold-goal > p {
  text-align: center;
}

@media screen and (max-width: 990px) {
  .cart__progress-bar {
    margin-bottom: 1rem;
    margin-top: 0;
  }
  div#cart-threshold-goal > p {
    margin-bottom: 1.5rem;
    margin-top: .5rem;
  }  
}

/* Payment Icons */

.payment-icons-ajax {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.75rem;
}

.payment-icons-ajax .icon {
  max-width: 60px;
  display: block;
  width: 45px;
  margin: 0 10px;
}
.payment-icons-ajax__container {
  position: relative;
}
.payment-icons-ajax:before {
  content: "";
  width: 150%;
  position: absolute;
  top: 0;
  left: -25%;
  display: block;
  right: 25%;
  height: 1px;
  border-top: 1px solid var(--color-border);
}

@media screen and (max-width: 990px) {
  .payment-icons-ajax__container {
    display: none;
  }
}


/* Cart Upsells */

.cart-upsells__container slider-component {
  /* min-height: 125px; */
}

.cart-upsells .slider-buttons {
  display: flex;
  width: calc(100% + 53px);
  justify-content: space-between;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  z-index: 200000;
  left: -27px;
}

.cart-upsells .slider-button {
  transform: rotate(90deg);
  background: transparent;
  z-index: 2000;
  width: 30px;
  height: 30px;
}

.cart-upsells .slider-button svg {
  font-size: 2rem;
  height: 1.25rem;
}

.cart-upsells .grid__item.slider__slide {
  padding: 0;
}

.cart-upsells .slider.slider--desktop {
  max-width: 100%;
  margin: 0;
  z-index: 200001;
}

.cart-upsells__title-empty {
  display: none;
}
.is-empty .cart-upsells__title-empty {
  display: block;
}

.is-empty .cart-upsells__title {
  display: none;
}

.is-empty .cart-upsells__container {
  display: block !important;
  margin-bottom: 1rem;
}

.is-empty .cart__footer .cart__blocks > * {
  /* display: none; */
}

.is-empty .cart__ctas {
  /* display: none !important; */
}

.cart-item.is_gwp_product .cart-item__quantity {
  visibility: hidden;
  display: none;
}

.cart-item.is_gwp_product cart-remove-button {
  display: none;
}

.cart__checkout-button svg {
  width: 2.5rem;
  margin-left: 6px;
}

.ajax-cart-open #launcher {
  visibility: hidden;
  opacity: 0;
}

.button.loading > .loading-overlay__spinner {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 100%;
  display: flex;
}

.product-count .loading-overlay__spinner {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.8rem;
}

.product-count__text.loading + .loading-overlay__spinner {
  display: block;
}

.ajax-cart__note-container,
.ajax-cart__share-tracking-container {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  z-index: 10000;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity .3s ease;
}

.gift-note-open .ajax-cart__note-container,
.share-tracking-open .ajax-cart__share-tracking-container {
  opacity: 1;
  z-index: 1000;
}

.ajax-cart-note__header,
.ajax-cart-share-tracking__header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e4f4f6;
  position: relative;
  box-shadow: 0 2px 4px 0 rgb(77 77 77 / 20%);
} 

.ajax-cart-note__header,
.ajax-cart-share-tracking__header {
  padding:1.5rem 0 1rem;
}

.ajax-cart-note__header h4,
.ajax-cart-share-tracking__header h4 {
  display: flex;
  margin-bottom: 0;
}

.ajax-cart-note__header h4 svg,
.ajax-cart-share-tracking__header h4 svg {
  margin-right: 6px;
}

.gift-note-close,
.share-tracking-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.25rem;
  cursor: pointer;
}

.cart__note,
.cart__share-tracking {
  width: 100%;
  padding: 2.15rem 1.75rem;
}

.cart__note textarea,
.cart__share-tracking textarea,
.cart__note textarea:focus,
.cart__share-tracking textarea:focus {
  border: 2px solid #a9dd61;
}

.ajax-cart-note__action-buttons,
.ajax-cart-share-tracking__action-buttons {
  display: flex;
  padding: 0 1.75rem;
  margin-top: auto;
}

#button-cancel-note,
#button-cancel-share-tracking  {
  margin-right: 5px;
  background: transparent;
  border: 2px solid #f3576b;
  color: #f3576b;
}

#button-save-note,
#button-save-share-tracking {
  margin-left: 5px;
}

.ajax-cart__note-container,
.ajax-cart__share-tracking-container {
  display: flex;
  flex-direction: column;
}

.gift-message-saved > p:first-child,
.share-tracking-saved > p:first-child {
  display: flex;
  flex-direction: row;
}
.gift-message-saved > p,
.share-tracking-saved > p {
  margin-top:0;
  margin-bottom: 0;
}
.cart__share-tracking textarea {
  padding-top: 10px;
  padding-bottom: 10px;
}
[for="share-tracking-note"] {
  margin-bottom: 15px;
  display: inline-block;
}
.ajax-cart-share-tracking__action-buttons {
  margin-top: 29px;
}

share-tracking.ajax-cart__share-tracking-container {
  border: 0.875px solid rgba(77, 77, 77, 0.19971);
  box-shadow: 0px 2px 4px rgb(77 77 77 / 20%);
}

.gift-message-saved > p:not(:first-child),
.share-tracking > p:not(:first-child),
.share-tracking-saved .dynamic-content {
  text-align: left;
  font-weight: 400;
  opacity: .5;
  width: 100%;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}
#gift-message-edit,
#share-tracking-edit {
  margin-left: auto;
  margin-right: 10px;
}
#gift-message-delete,
#share-tracking-delete,
#gift-message-edit,
#share-tracking-edit {
  cursor: pointer;
  text-decoration: underline;
}

#cart-upsells {
  margin-bottom: 1rem;
  padding: 0 3.5rem 0 2.2rem;
}

.upsell-product {
  display: flex;
  padding: 13px;
  border: 0.875px solid rgba(77, 77, 77, 0.19971);
  box-shadow: 0px 2px 4px rgba(77, 77, 77, 0.201868);
  border-radius: 8px;
}

.upsell-product--left {
  width: 25%;
}

.upsell-product--right {
  width: 65%;
  padding-left: 20px;
}

.cart-upsells h3.header {
  text-align: center;
  font-size: 14px;
  margin-bottom: 2px;
}

.upsell-product__add-to-cart {
  text-decoration: underline;
  font-weight: 600;
  background: transparent !important;
  border: none !important;
  color: #f3576b;
  padding: 0 !important;
}

.upsell-product__add-to-cart.loading .button-text {
  display: none;
}

body > .cart-upsells {
  display: none !important;
}

#cart-upsells-container {
  width: 100%;
}

#cart-upsells-container .slick-disabled {
  display: none !important;
}

#cart-upsells-container .slick-next {
  transform: scale(0.5) translateY(-100%) translateX(75px);
}

#cart-upsells-container .slick-prev {
  transform: scale(0.5) translateY(-100%) translateX(-75px);
}

@media screen and (max-width: 750px) { 
  #cart-upsells-container .slick-next {
    transform: scale(1) translateY(-50%) translateX(25px);
  }
  #cart-upsells-container .slick-prev {
    transform: scale(0.5) translateY(-50%) translateX(-25);
  }
}

.gift-message-saved svg {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  padding-bottom: 3px;
}

.gift-message-saved > p > span:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gift-message-button,
.share-tracking-button  {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gift-message-button svg:first-child,
.share-tracking-button svg:first-child {
  margin-right: 8px;
}

.gift-message-button span,
.share-tracking-button span,
.gift-message-button svg:last-child,
.share-tracking-button svg:last-child  {
  padding-top: 4px;
}

.cart__threshold-goal {
  position: relative;
}

.cart__threshold-goal img {
  position: absolute;
  bottom: 0;
}

.cart__close--mobile {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 27px;
  cursor: pointer;
  display: none;
}

.cart__close--mobile svg {
  width: 10px;
}

.quantity_disabled {
  margin-top: 8px;
  display: inline-block;
}

.checkout-loading {
  display: none;
}

button#checkout {
  transition: all .3s;
}

button#checkout.loading,
.btn.button-checkout.loading {
  background: white;
  border: 2px solid #f3576b;
}

button.loading .checkout-loading,
.btn.loading .checkout-loading {
  display: block;
}

button.loading .checkout-loading + span {
  display: none;
}

.cart-item__link.disabled,
.cart-item__name.disabled {
  pointer-events: none;
}

div#step-4-summary .upsell-item quantity-input {
  display: none;
}

.quantity input:disabled {
  background: transparent;
  opacity: 0.3;
}

.share-tracking-open .cart__close,
.gift-note-open .cart__close {
  display: none;
}

.share-tracking-button svg {
  max-width: 24px;
}

.share-tracking-button svg {
  max-width: 24px;
}

.ajax-cart-share-tracking__header svg {
  max-width: 24px;
}

.share-tracking-saved svg {
  max-width: 20px;
  margin-right: 3px;
}

.ajax-cart-share-tracking__header h4 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  width: 300px;
  text-align: center;
  justify-content: center;
}