.card__badge--wrapper {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

grid-badges {
  position: absolute;
  pointer-events: none;
  z-index: 2;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.card__badge {
  display: inline-block;
  width: fit-content;
  block-size: fit-content;
}

.badges {
  width: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.badges.badges--bottom-left {
  left: 0;
  bottom: 0;
}

.badges.badges--bottom-right {
  right: 0;
  bottom: 0;
  align-items: flex-end;
}

.badges.badges--top-right {
  right: 0;
  top: 0;
  align-items: flex-end;
}

.badges.badges--top-left {
  left: 0;
  top: 0;
}

.card__badge {
  padding: 8px 8px;
  font-weight: 600;
  border-radius: 0;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
}

/* Additional styles start */
.product-item-alt .badges.badges--top-left {
  left: -8px;
  top: -8px;
}

.product-item-alt .badges.badges--top-right {
  right: -8px;
  top: -8px;
}

.product-item-alt .badges.badges--top-left .card__badge:first-child {
  border-top-left-radius: 7px;
}

.product-item-alt .badges.badges--top-right .card__badge:first-child {
  border-top-right-radius: 7px;
}

product-form grid-badges,
ajax-cart grid-badges,
.product-item-alt .product__content grid-badges {
  height: auto;
  display: block;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

product-form .card__badge,
ajax-cart .card__badge,
.product-item-alt .product__content .card__badge {
  margin-bottom: 0;
  margin-right: 3px;
  border-radius: 2px;
  margin-bottom: 3px;
}

product-form .badges,
ajax-cart .badges,
.product-item-alt .product__content .badges {
  position: relative;
}

product-form .card__badge[data-pdp="false"],
ajax-cart .card__badge[data-mini-cart="false"] {
  display: none;
}

ajax-cart grid-badges {
  margin-bottom: 3px !important;
}

.product-item-alt .product__content .badges.badges--top-left .card__badge:first-child,
.product-item-alt .product__content .badges.badges--top-right .card__badge:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.product-item-alt .product__content .badges {
  white-space: nowrap;
}

@media (max-width: 812px) {
  .product-item-alt .product__image grid-badges {
    display: none;
  }
}


@media (min-width: 813px) {
  .product-item-alt .product__content grid-badges {
    display: none;
  }
}

.product-item-alt .product__content .badges.badges--top-left {
  left: 0;
  top: 0;
}

.product-item-alt .product__content .badges.badges--top-right {
  right: 0;
  top: 0;
}