.secton-video--no-overlay .section__inner:before {
  content: none;
}

.secton-video--no-overlay .section__video-btn {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: auto;
}

.secton-video--no-overlay .section__content {
  max-width: 100%;
  min-height: 100%;
}

/* ------------------------------------------------------------ *\
  Section raya-50-50
\* ------------------------------------------------------------ */

.section-raya-50-50 .section__title {
  color: inherit;
}

.section-raya-50-50 .section__entry--alt {
  color: #4d4d4d !important;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.44;
  max-width: 500px;
}

.section-raya-50-50--alt .section__content {
  padding: 40px 20px 24px;
}

.section-raya-50-50--alt .section__subtitle {
  line-height: 1.584;
  margin-bottom: 13px;
}

@media screen and (max-width: 767px) {
  .section-raya-50-50--alt .section__subtitle {
    line-height: inherit;
  }
}

.section-raya-50-50--alt .section__actions {
  margin-top: 22px;
}

@media screen and (max-width: 767px) {
  .section-raya-50-50--alt .section__actions {
    margin-top: 10px;
  }
}

.section-raya-50-50--alt .section__btn {
  text-transform: uppercase;
}

/* ------------------------------------------------------------ *\
  Section video-plus--raya-page-alt
\* ------------------------------------------------------------ */
.section-video-plus--raya-page-alt .section__callout {
  margin-top: 4px;
}

.section-video-plus--raya-page-alt .section__callout-text {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 21px;
}


/* ------------------------------------------------------------ *\
  Section 50-50-v2--alt
\* ------------------------------------------------------------ */

.section-50-50-v2--alt .section__inner {
  border-bottom: none;
  padding-bottom: 0;
}


/* ------------------------------------------------------------ *\
  Section raya intro
\* ------------------------------------------------------------ */

.section-raya-intro {
  padding: 26px 0;

}

.section-raya-intro .section__inner {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(77,77,77,.2);
  box-shadow: 0px 2px 4px 0px rgba(77,77,77,.2);
  max-width: 897px;
  margin: 0 auto;
  padding: 24px 16px 6px;
}

@media screen and (max-width: 767px) {
  .section-raya-intro .section__inner {
    margin-left: -4px;
    margin-right: -4px;
    padding-bottom: 0;
  }
}

.section-raya-intro .section__title {
  font-size: 40px;
  color: #01bcbe;
  line-height: 1.6;
  text-align: center;
  font-family: "KG HAPPY Solid",sans-serif;
}

.section-raya-intro .section__title p {
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .section-raya-intro .section__title {
    font-size: 32px;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 767px) {
  .section-raya-intro .section__title {
    font-size: 26px;
  }
}

.section-raya-intro .section__subtitle {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: #01bcbe;
  margin-bottom: 21px;
}


@media screen and (max-width: 767px) {
  .section-raya-intro .section__subtitle {
    margin-bottom: 8px;
  }
}

.section-raya-intro .section__subtitle p {
  margin: 0;
}

.section-raya-intro .section__image {
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .section-raya-intro .section__image {
    margin-bottom: 23px;
  }
}

.section-raya-intro .section__image img {
  margin: 0 auto;
  display: block;
}

.section-raya-intro .section__content {
  max-width: 665px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  line-height: 1.44;
}

@media screen and (max-width: 767px) {
  .section-raya-intro .section__content {
    line-height: 1.48;
  }
}
