@font-face {
  font-family: "Campton";
  src: url('{{ "Campton.Light.woff2" | asset_url }}') format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Campton";
  src: url('{{ "Campton.Medium.woff2" | asset_url }}') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}