@keyframes reelUpLoading {
    0% {
        background-color: rgb(225, 225, 225);
    }
    100% {
        background-color: rgb(210, 210, 210);
    }
}

@-webkit-keyframes reelUpLoading {
    0% {
        background-color: rgb(225, 225, 225);
    }
    100% {
        background-color: rgb(210, 210, 210);
    }
}

.reelUp_cards_carousel .reelUp_slide {
    flex-shrink: 0;
    position: relative;
}

/* 
.reelUp_cards_carousel .reelUp_slide:last-child > div {
    margin-right: 0 !important;
} */

.reelUp_cards_carousel.reelUp_carousel {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    position: relative;
    z-index: 1;
}

.reelUp_cards_carousel .reelUp_carousel_wrapper {
    display: flex;
    display: -webkit-flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-width: 100%;
}

.reelUp_cards_carousel .reelUp_slider_heading {
    margin-bottom: 10px;
}

.reelUp_cards_carousel .reelUp_carousel_wrapper::-webkit-scrollbar {
    display: none;
}

.reelUp_cards_carousel .reelUp_card_skeleton .reelUp_card_video_wrapper {
    background-color: rgb(225, 225, 225);
    animation: reelUpLoading 1s linear infinite alternate;
}

.reelUp_cards_carousel .reelUp_card_skeleton .reelUp_card_video_wrapper {
    border-radius: 10px;
}

.reelUp_playlist_slider_static .reelUp_card_skeleton {
    height: 100% !important;
}

.reelUp_playlist_slider_static .reelUp_card {
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
}

.reelUp_cards_carousel .reelUp_card_skeleton.reelUp_card {
    box-shadow: unset;
}

.reelUp_cards_carousel .reelUp_card .reelUp_card_video_wrapper {
    display: flex;
    display: -webkit-flex;
    position: relative;
    z-index: 99;
}

.reelUp_product_page_stories_template
    .reelUp_card_skeleton
    .reelUp_card_video_wrapper {
    border-radius: 50% !important;
}
