{% comment %}
  When a comment is submitted, the browser is redirected to a page that includes
  the new comment id in its URL.
  #comments is a required ID and is used as an anchor link by Shopify.
{% endcomment %}

{%- assign number_of_comments = article.comments_count -%}

{% comment %}
  If a comment was just submitted but requires moderation, we have an extra comment to count.
{% endcomment %}
{% if comment and comment.status != 'published' %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}

<section class="section-blog section-article">
  <div class="page-width">
    <header class="section__head">
      <a class="blog-title-link" href="{{ blog.url }}">
        <h2 class="section__title heading text-center">{{ blog.title }}</h1>
      </a>

      {% if current_tags %}
        <p class="text-center blog-desc">Viewing {{ current_tags.first }}</p>
      {% else %}
        {% section 'blog' %}
      {% endif %}
    </header><!-- /.section__head -->

    <div class="section__body blog-page">
      <div class="section__body-head">
        {% include 'blog-sidebar' %}
      </div><!-- /.section__body-head -->

      <div class="section__body-content">
        {%- include 'article.entry' -%}
      </div><!-- /.section__body-/-content -->
    </div><!-- /.section__body -->
  </div>
</section><!-- /.section-blog section-article -->
