<div class="page-width">
	<h1 class="heading text-center">{{ page.title }}</h1>

	<div class="rte">
    <form 5461545812127>
    <form
      data-product-form
      method="post"
      action="/cart/add"
      accept-charset="UTF-8"
      enctype="multipart/form-data"
      data-enable-history-state="true"
      data-cart-submit
    >
      <h3>Packing for the Beach - 1 Sibling Kit</h3>
      <ul>
        <li>1 Sibling Kit</li>
        <li>Monthly Subscription</li>
      </ul>
      <input name="id" value="5461545812127" hidden>
      <input type="text" data-name="properties[shipping_interval_frequency]" value="1" hidden>
      <input type="text" data-name="properties[shipping_interval_unit_type]" value="Months" hidden>
      <input type="text" data-name="properties[subscription_id]" value="265802" hidden>

      <button
        class="button-tertiary"
        type="submit"
        name="add"
        data-submit-button
      >
        Add to Cart
      </button>
    </form>
  </div>
</div>
