{% section 'page-hiw-intro' %}
<div class="page-width">
  <div class="steps flex baseline wrap">
    {% section 'page-hiw-step-1' %}
    {% section 'page-hiw-step-2' %}
    {% section 'page-hiw-step-3' %}    

  </div>
  
  <br><center> <iframe width="560" height="315" src="https://www.youtube.com/embed/UHw8CHLoXMs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <br><br></center>
     
</div>
{% section 'page-hiw-footer' %}

<style>
 @media only screen and (max-width:650px){
iframe {
  height:197px;
  width:350px
}
} 
   @media only screen and (max-width:400px){
iframe {
  height:169px;
  width:300px
}
} 
  
</style>
