<div class="page-width steps-heading">
	<h1 class="heading text-center">{{ page.title }}</h1>

	<div class="rte">
	  {{ page.content }}
	</div>
</div>

{% section 'steps' %}
{% section 'kit-slider' %}
{% section 'bites' %}

{%- comment -%}
{% section 'plans' %}
{%- endcomment -%}
<section>
  <div class="builder-widget-container">
    <div class="h2">Join the Club!</div>
    <div class="step-btn"><a href="/pages/join" class="btn">Sign Up Now</a></div>
  </div>
</section>
