<section class="section-referrals">
  <div class="page-width">
    <header class="section__head">
      <h1>{{ page.title | escape }}</h1>
    </header><!-- /.section__head -->

    <div class="section__body">
      {{ page.content }}
    </div><!-- /.section__body -->
  </div><!-- /.page-width -->
</section><!-- /.section-referrals -->

{% section 'referrals-features' %}
{% section 'referrals-content' %}
{% section 'referrals-outro' %}